flows/Dify/dsl/article_analysis_result_translate_workflow_zh.yml
app:
  description: "\u5229\u7528\u5927\u8BED\u8A00\u6A21\u578B\u5BF9\u6587\u7AE0\u5206\
    \u6790\u7684\u7ED3\u679C\u8FDB\u884C\u7FFB\u8BD1"
  icon: "\U0001F1EC\U0001F1E7"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "BestBlogs \u6587\u7AE0\u5206\u6790\u7ED3\u679C\u7FFB\u8BD1\u6D41\u7A0B"
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1718352852007-source-1719356422842-target
      source: '1718352852007'
      sourceHandle: source
      target: '1719356422842'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1719356422842-source-1719357159255-target
      source: '1719356422842'
      sourceHandle: source
      target: '1719357159255'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1719665970105-source-1719666182344-target
      source: '1719665970105'
      sourceHandle: source
      target: '1719666182344'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1719666182344-source-1719666267591-target
      source: '1719666182344'
      sourceHandle: source
      target: '1719666267591'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1719666267591-source-1719666292377-target
      source: '1719666267591'
      sourceHandle: source
      target: '1719666292377'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1719357159255-source-1719665970105-target
      source: '1719357159255'
      sourceHandle: source
      target: '1719665970105'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: "\u8F93\u5165\u6587\u7AE0 Id"
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: "BestBlogs \u6587\u7AE0 Id"
          max_length: 20
          options: []
          required: true
          type: text-input
          variable: input_article_id
      height: 120
      id: '1718352852007'
      position:
        x: 30
        y: 263
      positionAbsolute:
        x: 30
        y: 263
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: ''
        method: get
        params: id:{{#1718352852007.input_article_id#}}
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: "\u83B7\u53D6\u6587\u7AE0\u4FE1\u606F"
        type: http-request
        url: https://api.bestblogs.dev/api/resource/markdown
        variables: []
      height: 106
      id: '1719356422842'
      position:
        x: 333
        y: 263
      positionAbsolute:
        x: 333
        y: 263
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(json_body):\n    \"\"\"\n    \u5904\u7406 REST\
          \ \u8BF7\u6C42\u8FD4\u56DE\u7684 JSON \u5B57\u7B26\u4E32\u3002\n    \n \
          \   \u82E5\u8F93\u5165\u4E3A\u7A7A\u5B57\u7B26\u4E32\u6216JSON\u89E3\u6790\
          \u5931\u8D25\uFF0C\u5219\u8FD4\u56DE {'success': 'false'}\u3002\n    \u82E5\
          \ JSON \u5B57\u7B26\u4E32\u89E3\u6790\u6210\u529F\u4E14 'success' \u4E3A\
          \ 'true'\uFF0C\u5219\u8FD4\u56DE\u5305\u542B\u6307\u5B9A\u952E\u503C\u7684\
          \u5B57\u5178\u3002\n    \u5426\u5219\u8FD4\u56DE {'success': 'false'}\u3002\
          \n\n    \u53C2\u6570:\n        json_body (str): \u5305\u542B JSON \u6570\
          \u636E\u7684\u5B57\u7B26\u4E32\u3002\n    \n    \u8FD4\u56DE:\n        dict:\
          \ \u5305\u542B 'success' \u952E\u548C\u6307\u5B9A\u7684\u6570\u636E\u952E\
          \u503C\u5BF9\u7684\u5B57\u5178\u3002\n    \"\"\"\n    \n    result = {'success':\
          \ 'false'}\n    \n    if not json_body:\n        return result\n\n    try:\n\
          \        data = json.loads(json_body)\n        if isinstance(data, dict)\
          \ and data.get('success') == 'true':\n            result['success'] = 'true'\n\
          \            result['markdown'] = data.get('markdown', '')\n           \
          \ result['sourceName'] = data.get('sourceName', '')\n            result['title']\
          \ = data.get('title', '')\n            result['url'] = data.get('url', '')\n\
          \            result['languageName'] = data.get('languageName', '\u4E2D\u6587\
          ')\n            result['destLanguageName'] = data.get('destLanguageName',\
          \ '\u82F1\u6587')\n            result['analysisResult'] = data.get('analysisResult',\
          \ '')\n        return result\n    except json.JSONDecodeError:\n       \
          \ return result\n    except Exception:\n        return result"
        code_language: python3
        desc: "\u89E3\u6790\u8BF7\u6C42\u7ED3\u679C"
        outputs:
          analysisResult:
            children: null
            type: string
          destLanguageName:
            children: null
            type: string
          languageName:
            children: null
            type: string
          markdown:
            children: null
            type: string
          sourceName:
            children: null
            type: string
          success:
            children: null
            type: string
          title:
            children: null
            type: string
          url:
            children: null
            type: string
        selected: false
        title: "\u89E3\u6790\u6587\u7AE0\u4FE1\u606F"
        type: code
        variables:
        - value_selector:
          - '1719356422842'
          - body
          variable: json_body
      height: 84
      id: '1719357159255'
      position:
        x: 636
        y: 263
      positionAbsolute:
        x: 636
        y: 263
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u76F4\u63A5\u7FFB\u8BD1"
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: deepseek-chat
          provider: deepseek
        prompt_template:
        - id: 9f405119-fd90-46f9-9479-312561ef194c
          role: system
          text: "# AI \u7FFB\u8BD1\u4E13\u5BB6\n\n## \u4EFB\u52A1\n\u8BC6\u522B\u5E76\
            \u7FFB\u8BD1\u7ED9\u5B9AJSON\u6587\u672C\u4E2D\u7684\u4E13\u4E1A\u672F\
            \u8BED\u548C\u5185\u5BB9\u3002\u5C06\u539F\u59CB\u8BED\u8A00\u7FFB\u8BD1\
            \u6210\u76EE\u6807\u8BED\u8A00\u3002\n\n## \u6B65\u9AA4\n1. \u8BC6\u522B\
            \u6240\u6709\u5B57\u6BB5\u4E2D\u7684\u4E13\u4E1A\u672F\u8BED\u3002\n2.\
            \ \u4F7F\u7528\u8BC6\u522B\u7684\u4E13\u4E1A\u672F\u8BED\uFF0C\u7FFB\u8BD1\
            \u6574\u4E2AJSON\u5185\u5BB9\u3002\n\n## \u7FFB\u8BD1\u89C4\u5219\u4E0E\
            \u6CE8\u610F\u4E8B\u9879\n1. \u51C6\u786E\u7FFB\u8BD1\u4E13\u4E1A\u672F\
            \u8BED\uFF1A\n   - \u6309\u7167\u901A\u7528\u4F7F\u7528\u4E60\u60EF\u5904\
            \u7406\u5168\u79F0\u548C\u7F29\u5199\u3002\n   - \u4FDD\u7559\u5E38\u7528\
            \u7F29\u5199\uFF0C\u5982AI\u3001UX\u3001LLM\u3001Java\u7B49\u3002\n2.\
            \ \u4FDD\u6301\u539F\u6587\u672F\u8BED\uFF1A\u5982\u679C\u672F\u8BED\u5DF2\
            \u7ECF\u662F\u76EE\u6807\u8BED\u8A00\uFF0C\u4FDD\u6301\u4E0D\u53D8\u3002\
            \n3. \u672A\u8BC6\u522B\u672F\u8BED\uFF1A\u5BF9\u672A\u5728\u4E13\u4E1A\
            \u672F\u8BED\u5217\u8868\u4E2D\u7684\u672F\u8BED\uFF0C\u5C1D\u8BD5\u5408\
            \u7406\u7FFB\u8BD1\u3002\n4. \u4FDD\u6301\u98CE\u683C\uFF1A\u7EF4\u6301\
            \u539F\u6587\u7684\u8BED\u6C14\u548C\u8868\u8FBE\u65B9\u5F0F\u3002\n5.\
            \ \u8003\u8651\u4E0A\u4E0B\u6587\uFF1A\u7FFB\u8BD1\u65F6\u6CE8\u610F\u6574\
            \u4F53\u8BED\u5883\uFF0C\u786E\u4FDD\u8BED\u4E49\u8FDE\u8D2F\u3002\n6.\
            \ \u4FDD\u6301\u683C\u5F0F\uFF1A\u7EF4\u6301\u539FJSON\u7ED3\u6784\uFF0C\
            \u5305\u62EC\u4FDD\u7559\u539F\u6709\u7684key\u540D\u79F0\u3002\n\n##\
            \ \u8D28\u91CF\u68C0\u67E5\n- \u786E\u4FDD\u7FFB\u8BD1\u51C6\u786E\u6027\
            \u548C\u6D41\u7545\u6027\n- \u68C0\u67E5\u4E13\u4E1A\u672F\u8BED\u4F7F\
            \u7528\u7684\u4E00\u81F4\u6027\n- \u9A8C\u8BC1\u662F\u5426\u4FDD\u6301\
            \u4E86\u539F\u6587\u7684\u6838\u5FC3\u542B\u4E49\u548C\u8BED\u6C14\n\n\
            ## \u8F93\u5165\n1. \u539F\u59CB\u8BED\u8A00\uFF1A[\u5728\u7528\u6237\u63D0\
            \u793A\u8BCD\u4E2D\u6307\u5B9A]\n2. \u76EE\u6807\u8BED\u8A00\uFF1A[\u5728\
            \u7528\u6237\u63D0\u793A\u8BCD\u4E2D\u6307\u5B9A]\n3. \u5F85\u7FFB\u8BD1\
            \u7684JSON\u5B57\u7B26\u4E32\uFF1A\n[\u5728\u7528\u6237\u63D0\u793A\u8BCD\
            \u4E2D\u63D0\u4F9B]\n\n## \u8F93\u51FA\u683C\u5F0F\n\n### 1. \u4E13\u4E1A\
            \u672F\u8BED\u5217\u8868\n{\u539F\u6587\u672F\u8BED1} -> {\u7FFB\u8BD1\
            \u540E\u672F\u8BED1}\n{\u539F\u6587\u672F\u8BED2} -> {\u7FFB\u8BD1\u540E\
            \u672F\u8BED2}\n{\u539F\u6587\u672F\u8BED3} -> {\u7FFB\u8BD1\u540E\u672F\
            \u8BED3}\n\n### 2. \u7FFB\u8BD1\u540E\u7684JSON\uFF08\u4FDD\u6301\u539F\
            \u6709\u7ED3\u6784\u548Ckey\u540D\u79F0\uFF09\n[\u5B8C\u6574\u7684\u7FFB\
            \u8BD1\u540EJSON]"
        - id: 7c8529ca-9914-42e7-9132-299528454ba1
          role: user
          text: "\u8BF7\u6839\u636E\u8981\u6C42\u8BC6\u522B\u4E13\u4E1A\u672F\u8BED\
            \uFF0C\u5E76\u5BF9 JSON \u5B57\u7B26\u4E32\u8FDB\u884C\u7FFB\u8BD1\uFF0C\
            \u6309\u8981\u6C42\u8F93\u51FA\u7FFB\u8BD1\u540E\u7684\u76EE\u6807\u8BED\
            \u8A00\u7684 JSON \u5B57\u7B26\u4E32\uFF0C\u5305\u62EC\u4FDD\u7559\u539F\
            \u6709\u7684key\u540D\u79F0\u3002\n\n1. \u539F\u59CB\u8BED\u8A00\uFF1A\
            \n{{#1719357159255.languageName#}}\n\n2. \u76EE\u6807\u8BED\u8A00\uFF1A\
            \n{{#1719357159255.destLanguageName#}}\n\n3. \u5F85\u7FFB\u8BD1\u7684\
            JSON\u5B57\u7B26\u4E32\uFF1A\n```json\n{{#1719357159255.analysisResult#}}\n\
            ```"
        selected: false
        title: "\u76F4\u63A5\u7FFB\u8BD1"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 128
      id: '1719665970105'
      position:
        x: 939
        y: 263
      positionAbsolute:
        x: 939
        y: 263
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u6307\u51FA\u76F4\u63A5\u7FFB\u8BD1\u7684\u95EE\u9898"
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: 5a81faa2-6f9c-41ce-99ac-0d464611a548
          role: system
          text: "# AI \u7FFB\u8BD1\u68C0\u67E5\u4E13\u5BB6\n\n## \u7B80\u4ECB\n\u6307\
            \u5BFC\u5927\u8BED\u8A00\u6A21\u578B\u5206\u6790\u6280\u672F\u6587\u7AE0\
            \u9884\u5904\u7406\u7ED3\u679C\u7684\u521D\u6B21\u7FFB\u8BD1\uFF0C\u8BC6\
            \u522B\u95EE\u9898\uFF0C\u4E3A\u540E\u7EED\u4F18\u5316\u5960\u5B9A\u57FA\
            \u7840\u3002\n\n## \u80CC\u666F\n- \u5185\u5BB9\uFF1A\u7F51\u7AD9\u4E2D\
            \u6DB5\u76D6\u4EBA\u5DE5\u667A\u80FD\u3001\u7F16\u7A0B\u3001\u4EA7\u54C1\
            \u3001\u8BBE\u8BA1\u3001\u5546\u4E1A\u548C\u79D1\u6280\u7B49\u9886\u57DF\
            \u6280\u672F\u6587\u7AE0\n- \u9884\u5904\u7406\uFF1A\u5DF2\u63D0\u53D6\
            \u6807\u9898\u3001\u6458\u8981\u3001\u4E3B\u8981\u89C2\u70B9\u3001\u5173\
            \u952E\u91D1\u53E5\u548C\u6807\u7B7E\n- \u7FFB\u8BD1\u65B9\u5411\uFF1A\
            \u82F1\u8BD1\u4E2D\u6216\u4E2D\u8BD1\u82F1\n- \u76EE\u7684\uFF1A\u5C06\
            \u9884\u5904\u7406\u7684\u4FE1\u606F\u8FDB\u884C\u7FFB\u8BD1\uFF0C\u4FBF\
            \u4E8E\u76EE\u6807\u8BED\u8A00\u8BFB\u8005\u9605\u8BFB\n- \u8981\u6C42\
            \uFF1A\u51C6\u786E\u4F20\u8FBE\u539F\u610F\uFF0C\u7B26\u5408\u76EE\u6807\
            \u8BED\u8A00\u4E60\u60EF\n\n## \u4EFB\u52A1\u76EE\u6807\n\u5168\u9762\u68C0\
            \u67E5\u521D\u6B21\u7FFB\u8BD1\uFF0C\u8BC6\u522B\u95EE\u9898\uFF0C\u4E3A\
            \u540E\u7EED\u4F18\u5316\u63D0\u4F9B\u6307\u5357\u3002\n\n## \u8F93\u5165\
            \u683C\u5F0F\n1. \u539F\u59CB\u8BED\u8A00\n2. \u76EE\u6807\u8BED\u8A00\
            \n3. \u539F\u6587\uFF08Markdown\uFF09\n4. \u5206\u6790\u7ED3\u679C\uFF08\
            JSON\uFF09\n5. \u4E13\u4E1A\u672F\u8BED\u8BC6\u522B\u53CA\u521D\u6B21\u7FFB\
            \u8BD1\u7ED3\u679C\n\n## JSON \u7ED3\u6784\n- title: \u6807\u9898\n- oneSentenceSummary:\
            \ \u4E00\u53E5\u8BDD\u603B\u7ED3\n- summary: \u5168\u6587\u6458\u8981\n\
            - tags: \u6807\u7B7E\u5217\u8868\n- mainPoints: \u4E3B\u8981\u89C2\u70B9\
            \uFF08point \u548C explanation\uFF09\n- keyQuotes: \u5173\u952E\u5F15\u7528\
            \n\n## \u5206\u6790\u8981\u70B9\n1. \u672F\u8BED\u4E0E\u6280\u672F\u6982\
            \u5FF5\n   - \u5B9A\u4F4D\uFF1A\u672F\u8BED\u6216\u6280\u672F\u6982\u5FF5\
            \u7684\u7FFB\u8BD1\u95EE\u9898\n   - \u63CF\u8FF0\uFF1A\u51C6\u786E\u6027\
            \u3001\u4E00\u81F4\u6027\u6216\u8868\u8FBE\u95EE\u9898\n   - \u5EFA\u8BAE\
            \uFF1A\u6539\u8FDB\u65B9\u5411\n   - \u793A\u4F8B\uFF1A\u7EDF\u4E00 \"\
            \u673A\u5668\u5B66\u4E60\"\u3001\"\u6DF1\u5EA6\u5B66\u4E60\" \u7B49\u672F\
            \u8BED\u7FFB\u8BD1\uFF1B\u4F18\u5316 \"\u7AEF\u5230\u7AEF\u5B66\u4E60\"\
            \ \u7684\u89E3\u91CA\n\n2. \u8BED\u8A00\u8868\u8FBE\u4E0E\u7ED3\u6784\n\
            \   - \u5B9A\u4F4D\uFF1A\u4E0D\u81EA\u7136\u6216\u4E0D\u6D41\u7545\u7684\
            \u8868\u8FBE\n   - \u63CF\u8FF0\uFF1A\u4E0D\u7B26\u5408\u76EE\u6807\u8BED\
            \u8A00\u4E60\u60EF\u7684\u539F\u56E0\n   - \u5EFA\u8BAE\uFF1A\u6539\u8FDB\
            \u65B9\u5411\n   - \u793A\u4F8B\uFF1A\u8C03\u6574 \"\u8FD9\u4E2A\u529F\
            \u80FD\u662F\u5F88\u9177\u7684\" \u4E3A\u66F4\u4E13\u4E1A\u7684\u8868\u8FBE\
            \uFF1B\u91CD\u6784\u590D\u6742\u53E5\u5B50\u63D0\u9AD8\u53EF\u8BFB\u6027\
            \n\n3. \u884C\u4E1A\u7279\u5B9A\u8868\u8FBE\u4E0E\u6587\u5316\u9002\u5E94\
            \n   - \u5B9A\u4F4D\uFF1A\u4E0D\u7B26\u5408\u884C\u4E1A\u60EF\u4F8B\u6216\
            \u5B58\u5728\u6587\u5316\u5DEE\u5F02\u7684\u8868\u8FBE\n   - \u63CF\u8FF0\
            \uFF1A\u6F5C\u5728\u8BEF\u89E3\u6216\u4E0D\u5F53\u4E4B\u5904\n   - \u5EFA\
            \u8BAE\uFF1A\u9002\u5E94\u6027\u8868\u8FBE\u5EFA\u8BAE\n   - \u793A\u4F8B\
            \uFF1A\u5C06 \"\u7528\u6237\u53CB\u597D\" \u8C03\u6574\u4E3A \"\u76F4\u89C2\
            \u7684\u7528\u6237\u754C\u9762\"\uFF1B\u9002\u5F53\u5904\u7406\u6587\u5316\
            \u7279\u5B9A\u8BCD\u8BED\u5982 \"\u753B\u997C\"\n\n4. \u683C\u5F0F\u4E00\
            \u81F4\u6027\n   - \u5B9A\u4F4D\uFF1A\u683C\u5F0F\u4E0D\u4E00\u81F4\u5904\
            \n   - \u63CF\u8FF0\uFF1A\u4E0D\u4E00\u81F4\u7684\u5177\u4F53\u95EE\u9898\
            \n   - \u5EFA\u8BAE\uFF1A\u7EDF\u4E00\u683C\u5F0F\u5EFA\u8BAE\n   - \u793A\
            \u4F8B\uFF1A\u7EDF\u4E00\u4E2D\u82F1\u6587\u6DF7\u6392\u7684\u7A7A\u683C\
            \u4F7F\u7528\uFF0C\u5728\u4E2D\u6587\u548C\u82F1\u6587\u3001\u6570\u5B57\
            \u4E4B\u95F4\u589E\u52A0\u7A7A\u683C\n\n## \u8F93\u51FA\u8981\u6C42\u4E0E\
            \u8D28\u91CF\u4FDD\u8BC1\n1. \u4F7F\u7528 Markdown \u683C\u5F0F\u7684\u5206\
            \u70B9\u5217\u8868\uFF0C\u6BCF\u4E2A\u95EE\u9898\u5305\u62EC\u4F4D\u7F6E\
            \u3001\u63CF\u8FF0\u548C\u5EFA\u8BAE\n2. \u4FDD\u6301\u4E13\u4E1A\u3001\
            \u5BA2\u89C2\u7684\u8BED\u6C14\uFF0C\u4F7F\u7528\u51C6\u786E\u7684\u6280\
            \u672F\u672F\u8BED\n3. \u805A\u7126\u95EE\u9898\u8BC6\u522B\uFF0C\u4E0D\
            \u9700\u63D0\u4F9B\u5B8C\u6574\u91CD\u5199\n4. \u5173\u6CE8\u6280\u672F\
            \u672F\u8BED\u548C\u884C\u4E1A\u8868\u8FBE\u7684\u51C6\u786E\u6027\uFF0C\
            \u786E\u4FDD\u672F\u8BED\u4F7F\u7528\u4E00\u81F4\n5. \u8003\u8651\u76EE\
            \u6807\u8BFB\u8005\uFF08\u5982\u5F00\u53D1\u8005\u3001\u4EA7\u54C1\u7ECF\
            \u7406\uFF09\u9700\u6C42\n6. \u5206\u6790\u5E94\u8986\u76D6\u6587\u7AE0\
            \u5404\u90E8\u5206\uFF08\u6807\u9898\u3001\u6458\u8981\u3001\u4E3B\u8981\
            \u89C2\u70B9\u7B49\uFF09\n7. \u6307\u51FA\u4EFB\u4F55\u5F71\u54CD\u6574\
            \u4F53\u7406\u89E3\u7684\u7FFB\u8BD1\u95EE\u9898\n8. \u786E\u4FDD\u95EE\
            \u9898\u63CF\u8FF0\u6E05\u6670\u5177\u4F53\uFF0C\u4E0E\u6587\u7AE0\u6280\
            \u672F\u6027\u76F8\u7B26\n9. \u6700\u540E\u603B\u7ED3\u4E3B\u8981\u95EE\
            \u9898\u7C7B\u578B\u548C\u6539\u8FDB\u65B9\u5411"
        - id: c2703c48-701c-463a-8977-d5c2b12eaf66
          role: user
          text: "\u8BF7\u6839\u636E\u8981\u6C42\u5BF9\u6587\u7AE0\u5206\u6790\u7ED3\
            \u679C JSON \u5B57\u7B26\u7FFB\u8BD1\u7ED3\u679C\u8FDB\u884C\u68C0\u67E5\
            \uFF0C\u6309\u8981\u6C42\u8F93\u51FA\u7FFB\u8BD1\u4E2D\u5B58\u5728\u7684\
            \u95EE\u9898\u3002\n\n1. \u539F\u59CB\u8BED\u8A00\uFF1A\n{{#1719357159255.languageName#}}\n\
            2. \u76EE\u6807\u8BED\u8A00\uFF1A\n{{#1719357159255.destLanguageName#}}\n\
            \n3. \u539F\u6587\uFF08Markdown\uFF09\uFF1A\n```markdown\n{{#1719357159255.markdown#}}\n\
            ```\n4. \u539F\u6587\u5206\u6790\u7ED3\u679C\uFF08JSON\uFF09\uFF1A\n```json\n\
            {{#1719357159255.analysisResult#}}\n```\n\n5. \u4E13\u4E1A\u672F\u8BED\
            \u8BC6\u522B\u53CA\u521D\u6B21\u7FFB\u8BD1\u7ED3\u679C\n{{#1719665970105.text#}}"
        selected: false
        title: "\u6307\u51FA\u76F4\u63A5\u7FFB\u8BD1\u7684\u95EE\u9898"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 128
      id: '1719666182344'
      position:
        x: 1242
        y: 263
      positionAbsolute:
        x: 1242
        y: 263
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u610F\u8BD1 - \u7B2C\u4E8C\u6B21\u7FFB\u8BD1"
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: 0017c1f5-6a65-463f-98bd-b384f55e1362
          role: system
          text: "# AI \u7FFB\u8BD1\u4F18\u5316\u4E13\u5BB6\n\n## \u7B80\u4ECB\n\u5BF9\
            \u521D\u6B21\u7FFB\u8BD1\u7684\u6280\u672F\u6587\u7AE0\u8FDB\u884C\u4F18\
            \u5316\u548C\u610F\u8BD1\uFF0C\u786E\u4FDD\u7FFB\u8BD1\u65E2\u5FE0\u5B9E\
            \u539F\u610F\u53C8\u7B26\u5408\u76EE\u6807\u8BED\u8A00\u8868\u8FBE\u4E60\
            \u60EF\u3002\n\n## \u80CC\u666F\n- \u5185\u5BB9\uFF1A\u7F51\u7AD9\u4E0A\
            \u5173\u4E8E\u4EBA\u5DE5\u667A\u80FD\u3001\u7F16\u7A0B\u6280\u672F\u3001\
            \u4EA7\u54C1\u3001\u8BBE\u8BA1\u3001\u5546\u4E1A\u3001\u79D1\u6280\u7C7B\
            \u7684\u6587\u7AE0\uFF0C\u5DF2\u63D0\u53D6\u6587\u7AE0\u6807\u9898\u3001\
            \u4E00\u53E5\u8BDD\u603B\u7ED3\u3001\u6587\u7AE0\u6458\u8981\u3001\u4E3B\
            \u8981\u89C2\u70B9\u3001\u5173\u952E\u91D1\u53E5\u548C\u6807\u7B7E\u7B49\
            \u4FE1\u606F\u7684 JSON \u5B57\u7B26\u4E32\n- \u521D\u6B21\u7FFB\u8BD1\
            \uFF1A\u5DF2\u5B8C\u6210\uFF0C\u4F46\u53EF\u80FD\u5B58\u5728\u95EE\u9898\
            \n- \u7FFB\u8BD1\u65B9\u5411\uFF1A\u82F1\u8BD1\u4E2D\u6216\u4E2D\u8BD1\
            \u82F1\n- \u76EE\u6807\uFF1A\u63D0\u9AD8\u7FFB\u8BD1\u8D28\u91CF\uFF0C\
            \u4F7F\u5176\u66F4\u6613\u4E8E\u76EE\u6807\u8BFB\u8005\u7406\u89E3\n\n\
            ## \u4EFB\u52A1\u76EE\u6807\n\u57FA\u4E8E\u521D\u6B21\u7FFB\u8BD1\u548C\
            \u8BC6\u522B\u51FA\u7684\u95EE\u9898\uFF0C\u8FDB\u884C\u91CD\u65B0\u7FFB\
            \u8BD1\u548C\u610F\u8BD1\uFF0C\u63D0\u9AD8\u51C6\u786E\u6027\u3001\u53EF\
            \u8BFB\u6027\u548C\u6587\u5316\u9002\u5E94\u6027\u3002\n\n## \u8F93\u5165\
            \u683C\u5F0F\n1. \u539F\u59CB\u8BED\u8A00\n2. \u76EE\u6807\u8BED\u8A00\
            \n3. \u539F\u6587\u5206\u6790\u7ED3\u679C\uFF08JSON\uFF09\n4. \u8BC6\u522B\
            \u7684\u4E13\u4E1A\u672F\u8BED\u5217\u8868\u548C\u521D\u6B21\u7FFB\u8BD1\
            \u7ED3\u679C\n5. \u7FFB\u8BD1\u95EE\u9898\u5206\u6790\u7ED3\u679C\uFF08\
            Markdown\uFF09\n\n## JSON \u7ED3\u6784\n- title: \u6807\u9898\n- oneSentenceSummary:\
            \ \u4E00\u53E5\u8BDD\u603B\u7ED3\n- summary: \u5168\u6587\u6458\u8981\n\
            - tags: \u6807\u7B7E\u5217\u8868\n- mainPoints: \u4E3B\u8981\u89C2\u70B9\
            \uFF08point \u548C explanation\uFF09\n- keyQuotes: \u5173\u952E\u5F15\u7528\
            \n\n## \u5206\u6790\u8981\u70B9\n1. \u672F\u8BED\u4E0E\u6280\u672F\u6982\
            \u5FF5\n   - \u786E\u4FDD\u4E13\u4E1A\u672F\u8BED\u7FFB\u8BD1\u51C6\u786E\
            \u4E14\u4E00\u81F4\n   - \u5BF9\u96BE\u61C2\u6982\u5FF5\u9002\u5F53\u6DFB\
            \u52A0\u7B80\u77ED\u89E3\u91CA\n   - \u53C2\u8003\u63D0\u4F9B\u7684\u4E13\
            \u4E1A\u672F\u8BED\u5217\u8868\u8FDB\u884C\u7FFB\u8BD1\n\n2. \u8BED\u8A00\
            \u8868\u8FBE\u4E0E\u7ED3\u6784\n   - \u8C03\u6574\u53E5\u5F0F\u4EE5\u7B26\
            \u5408\u76EE\u6807\u8BED\u8A00\u4E60\u60EF\n   - \u63D0\u9AD8\u8868\u8FBE\
            \u7684\u6D41\u7545\u6027\u548C\u81EA\u7136\u5EA6\n   - \u907F\u514D\u76F4\
            \u8BD1\u5BFC\u81F4\u7684\u751F\u786C\u8868\u8FBE\n\n3. \u6587\u5316\u9002\
            \u5E94\n   - \u8003\u8651\u76EE\u6807\u8BED\u8A00\u7684\u6587\u5316\u80CC\
            \u666F\uFF0C\u9002\u5F53\u8C03\u6574\u8868\u8FBE\n   - \u4F7F\u7528\u76EE\
            \u6807\u8BED\u8A00\u4E2D\u7684\u4E60\u8BED\u6216\u4FD7\u8BED\u589E\u52A0\
            \u4EB2\u548C\u529B\n   - \u6CE8\u610F\u8DE8\u6587\u5316\u4EA4\u6D41\u4E2D\
            \u53EF\u80FD\u5B58\u5728\u7684\u654F\u611F\u8BDD\u9898\n\n4. \u683C\u5F0F\
            \u4E00\u81F4\u6027\n   - \u4FDD\u6301 JSON \u7ED3\u6784\u4E0D\u53D8\n\
            \   - \u7EDF\u4E00\u683C\u5F0F\uFF0C\u5982\u4E2D\u82F1\u6587\u95F4\u52A0\
            \u7A7A\u683C\n   - \u4FDD\u6301\u6807\u70B9\u7B26\u53F7\u4F7F\u7528\u7684\
            \u4E00\u81F4\u6027\n\n## \u8F93\u51FA\u8981\u6C42\u4E0E\u8D28\u91CF\u4FDD\
            \u8BC1\n1. \u8F93\u51FA\u683C\u5F0F\uFF1A\u4EC5\u8F93\u51FA JSON \u5B57\
            \u7B26\u4E32\uFF0C\u4FDD\u6301\u7ED3\u6784\u548C\u539F\u59CB JSON \u5B57\
            \u7B26\u4E32\u4E00\u81F4\uFF0C\u4EC5\u5C06\u5176\u4E2D\u7684\u503C\u7FFB\
            \u8BD1\u4E3A\u76EE\u6807\u8BED\u8A00\n2. \u51C6\u786E\u6027\uFF1A\n  \
            \ - \u51C6\u786E\u4F20\u8FBE\u539F\u6587\u6838\u5FC3\u610F\u601D\uFF0C\
            \u4E0D\u9057\u6F0F\u5173\u952E\u4FE1\u606F\n   - \u4FDD\u6301\u4E13\u4E1A\
            \u6027\uFF0C\u7B26\u5408\u6280\u672F\u4EBA\u5458\u9605\u8BFB\u9700\u6C42\
            \n3. \u53EF\u8BFB\u6027\uFF1A\n   - \u786E\u4FDD\u7FFB\u8BD1\u540E\u7684\
            \u5185\u5BB9\u903B\u8F91\u8FDE\u8D2F\uFF0C\u6613\u4E8E\u7406\u89E3\n \
            \  - \u63D0\u9AD8\u6574\u4F53\u53EF\u8BFB\u6027\uFF0C\u907F\u514D\u76F4\
            \u8BD1\u9020\u6210\u7684\u4E0D\u81EA\u7136\u8868\u8FBE\n4. \u672F\u8BED\
            \u5904\u7406\uFF1A\n   - \u4FDD\u6301\u672F\u8BED\u4E00\u81F4\u6027\uFF0C\
            \u7279\u522B\u662F\u5173\u952E\u7684\u6280\u672F\u8BCD\u6C47\n   - \u5BF9\
            \u96BE\u8BD1\u6982\u5FF5\u53EF\u91C7\u7528\u610F\u8BD1\u6216\u589E\u52A0\
            \u7B80\u77ED\u89E3\u91CA\uFF0C\u4F46\u4E0D\u663E\u8457\u589E\u52A0\u957F\
            \u5EA6\n5. \u6587\u5316\u9002\u5E94\uFF1A\n   - \u6CE8\u610F\u4E0D\u540C\
            \u6587\u5316\u80CC\u666F\u4E0B\u7684\u8868\u8FBE\u5DEE\u5F02\n   - \u5BF9\
            \u539F\u6587\u4E2D\u7684\u4F8B\u5B50\u6216\u5F15\u7528\uFF0C\u6839\u636E\
            \u9700\u8981\u8FDB\u884C\u9002\u5F53\u7684\u672C\u5730\u5316\u5904\u7406\
            \n6. \u683C\u5F0F\u8981\u6C42\uFF1A\n   - \u4E2D\u6587\u7FFB\u8BD1\u65F6\
            \u5728\u4E2D\u82F1\u6587\u3001\u6570\u5B57\u95F4\u52A0\u7A7A\u683C\n \
            \  - \u4FDD\u6301 JSON \u7ED3\u6784\u548C\u952E\u540D\u4E0D\u53D8\n\n\u8BF7\
            \u6839\u636E\u4EE5\u4E0A\u6307\u5357\uFF0C\u5BF9\u63D0\u4F9B\u7684\u8F93\
            \u5165\u8FDB\u884C\u5168\u9762\u5206\u6790\u548C\u4F18\u5316\u7FFB\u8BD1\
            \uFF0C\u4EE5 JSON \u683C\u5F0F\u8F93\u51FA\u6539\u8FDB\u540E\u7684\u7ED3\
            \u679C\u3002\u786E\u4FDD\u7FFB\u8BD1\u65E2\u51C6\u786E\u4F20\u8FBE\u539F\
            \u610F\uFF0C\u53C8\u5145\u5206\u9002\u5E94\u76EE\u6807\u8BED\u8A00\u7684\
            \u8868\u8FBE\u4E60\u60EF\u548C\u6587\u5316\u80CC\u666F\u3002"
        - id: b80ef907-73bb-46cf-9c02-57e773e7eab5
          role: user
          text: "\u8BF7\u6839\u636E\u8981\u6C42\u8BC6\u522B\u5BF9\u6587\u7AE0\u5206\
            \u6790\u7ED3\u679C JSON \u5B57\u7B26\u4E32\u3001\u76F4\u63A5\u7FFB\u8BD1\
            \u7ED3\u679C\u3001\u7FFB\u8BD1\u95EE\u9898\u5206\u6790\u7ED3\u679C\u8FDB\
            \u884C\u7EFC\u5408\u5206\u6790\u5904\u7406\uFF0C\u6309\u8981\u6C42\u8F93\
            \u51FA\u6539\u8FDB\u540E\u7684\u7FFB\u8BD1\uFF0C\u4EE5 JSON \u5B57\u7B26\
            \u4E32\u8F93\u51FA\u3002\n\n1. \u539F\u59CB\u8BED\u8A00\uFF1A\n{{#1719357159255.languageName#}}\n\
            2. \u76EE\u6807\u8BED\u8A00\uFF1A\n{{#1719357159255.destLanguageName#}}\n\
            \n3. \u539F\u6587\u5206\u6790\u7ED3\u679C\uFF08JSON\uFF09\uFF1A\n```json\n\
            {{#1719357159255.analysisResult#}}\n```\n4. \u8BC6\u522B\u7684\u4E13\u4E1A\
            \u672F\u8BED\u5217\u8868\u548C\u521D\u6B21\u7FFB\u8BD1\u7ED3\u679C\uFF1A\
            \n{{#1719665970105.text#}}\n\n5. \u521D\u6B21\u7FFB\u8BD1\u95EE\u9898\u5206\
            \u6790\u7ED3\u679C\uFF1A\n{{#1719666182344.text#}}"
        selected: false
        title: "\u610F\u8BD1 - \u7B2C\u4E8C\u6B21\u7FFB\u8BD1"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 128
      id: '1719666267591'
      position:
        x: 1545
        y: 263
      positionAbsolute:
        x: 1545
        y: 263
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: "\u8FD4\u56DE\u7FFB\u8BD1\u7ED3\u679C"
        outputs:
        - value_selector:
          - '1719666267591'
          - text
          variable: analysisResult
        selected: false
        title: "\u7ED3\u675F 2"
        type: end
      height: 120
      id: '1719666292377'
      position:
        x: 1848
        y: 263
      positionAbsolute:
        x: 1848
        y: 263
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 141.3944684478147
      y: 3.5603121417864827
      zoom: 0.6848308497193075
