flows/Dify/dsl/article_analysis_result_translate_workflow_en.yml
app:
  description: Translating article analysis results using large language models.
  icon: "\U0001F1EC\U0001F1E7"
  icon_background: '#FFEAD5'
  mode: workflow
  name: BestBlogs Article Analysis Results Translation Workflow
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1718352852007-source-1719356422842-target
      source: '1718352852007'
      sourceHandle: source
      target: '1719356422842'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1719356422842-source-1719357159255-target
      source: '1719356422842'
      sourceHandle: source
      target: '1719357159255'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1719665970105-source-1719666182344-target
      source: '1719665970105'
      sourceHandle: source
      target: '1719666182344'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1719666182344-source-1719666267591-target
      source: '1719666182344'
      sourceHandle: source
      target: '1719666267591'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1719666267591-source-1719666292377-target
      source: '1719666267591'
      sourceHandle: source
      target: '1719666292377'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1719357159255-source-1719665970105-target
      source: '1719357159255'
      sourceHandle: source
      target: '1719665970105'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Input article ID
        selected: false
        title: Start
        type: start
        variables:
        - label: Article Id
          max_length: 20
          options: []
          required: true
          type: text-input
          variable: input_article_id
      height: 120
      id: '1718352852007'
      position:
        x: 30
        y: 299
      positionAbsolute:
        x: 30
        y: 299
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: Call HTTP API to fetch article content.
        headers: ''
        method: get
        params: 'id:{{#1718352852007.input_article_id#}}

          language:en'
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Retrieve Article Information
        type: http-request
        url: https://api.bestblogs.dev/api/resource/markdown
        variables: []
      height: 154
      id: '1719356422842'
      position:
        x: 333
        y: 299
      positionAbsolute:
        x: 333
        y: 299
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(json_body):\n    \"\"\"\n    Process the JSON\
          \ string returned from a REST request.\n    \n    If the input is an empty\
          \ string or JSON parsing fails, return {'success': 'false'}.\n    If JSON\
          \ string parsing succeeds and 'success' is 'true', return a dictionary with\
          \ specified key-value pairs.\n    Otherwise, return {'success': 'false'}.\n\
          \n    Parameters:\n        json_body (str): A string containing JSON data.\n\
          \    \n    Returns:\n        dict: A dictionary containing the 'success'\
          \ key and specified data key-value pairs.\n    \"\"\"\n    \n    result\
          \ = {'success': 'false'}\n    \n    if not json_body:\n        return result\n\
          \n    try:\n        data = json.loads(json_body)\n        if isinstance(data,\
          \ dict) and data.get('success') == 'true':\n            result['success']\
          \ = 'true'\n            result['markdown'] = data.get('markdown', '')\n\
          \            result['sourceName'] = data.get('sourceName', '')\n       \
          \     result['title'] = data.get('title', '')\n            result['url']\
          \ = data.get('url', '')\n            result['languageName'] = data.get('languageName',\
          \ 'Chinese')\n            result['destLanguageName'] = data.get('destLanguageName',\
          \ 'English')\n            result['analysisResult'] = data.get('analysisResult',\
          \ '')\n        return result\n    except json.JSONDecodeError:\n       \
          \ return result\n    except Exception:\n        return result"
        code_language: python3
        desc: Parse response and extract article content.
        outputs:
          analysisResult:
            children: null
            type: string
          destLanguageName:
            children: null
            type: string
          languageName:
            children: null
            type: string
          markdown:
            children: null
            type: string
          sourceName:
            children: null
            type: string
          success:
            children: null
            type: string
          title:
            children: null
            type: string
          url:
            children: null
            type: string
        selected: false
        title: Parse article information
        type: code
        variables:
        - value_selector:
          - '1719356422842'
          - body
          variable: json_body
      height: 102
      id: '1719357159255'
      position:
        x: 636
        y: 299
      positionAbsolute:
        x: 636
        y: 299
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Use LLM for direct translation.
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: llama3-70b-8192
          provider: groq
        prompt_template:
        - id: 9f405119-fd90-46f9-9479-312561ef194c
          role: system
          text: "# AI-Assisted Translation Expert\n\n## Task\nIdentify and translate\
            \ specialized terms and content within the provided JSON text from the\
            \ source language to the target language.\n\n## Process\n1. Identify specialized\
            \ terms across all fields.\n2. Translate the entire JSON content, incorporating\
            \ the identified specialized terms.\n\n## Translation Guidelines\n1. Accurately\
            \ translate specialized terms:\n   - Handle full names and abbreviations\
            \ according to common usage conventions.\n   - Retain widely used abbreviations\
            \ such as AI, UX, LLM, Java, etc.\n2. Preserve original terms: Keep terms\
            \ unchanged if they are already in the target language.\n3. Unidentified\
            \ terms: Provide reasonable translations for terms not listed in the specialized\
            \ term glossary.\n4. Maintain style: Preserve the original text's tone\
            \ and expression.\n5. Consider context: Ensure semantic coherence by paying\
            \ attention to the overall context during translation.\n6. Retain structure:\
            \ Maintain the original JSON structure, including key names.\n\n## Quality\
            \ Assurance\n- Ensure translation accuracy and fluency\n- Verify consistent\
            \ usage of specialized terms\n- Confirm preservation of the original text's\
            \ core meaning and tone\n\n## Input\n1. Source language: [To be specified\
            \ in the user prompt]\n2. Target language: [To be specified in the user\
            \ prompt]\n3. JSON string for translation: [To be provided in the user\
            \ prompt]\n\n## Output Format\n\n### 1. Specialized Term Glossary\n{Original\
            \ term 1} -> {Translated term 1}\n{Original term 2} -> {Translated term\
            \ 2}\n{Original term 3} -> {Translated term 3}\n\n### 2. Translated JSON\
            \ (maintaining original structure and key names)\n[Complete translated\
            \ JSON]"
        - id: 7c8529ca-9914-42e7-9132-299528454ba1
          role: user
          text: 'Please identify specialized terms and translate the JSON string as
            required. Output the translated JSON string in the target language, including
            the preservation of original key names.


            1. Source language:

            {{#1719357159255.languageName#}}

            2. Target language:

            {{#1719357159255.destLanguageName#}}

            3. JSON string to be translated:

            ```json

            {{#1719357159255.analysisResult#}}

            ```'
        selected: false
        title: Direct Translation
        type: llm
        variables: []
        vision:
          enabled: false
      height: 128
      id: '1719665970105'
      position:
        x: 939
        y: 299
      positionAbsolute:
        x: 939
        y: 299
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Identifying issues with direct translation.
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: 5a81faa2-6f9c-41ce-99ac-0d464611a548
          role: system
          text: "# AI Translation Review Expert\n\n## Introduction\nGuide large language\
            \ models to analyze initial translations of preprocessed technical articles,\
            \ identify issues, and establish a foundation for subsequent optimization.\n\
            \n## Background\n- Content: Technical articles from websites covering\
            \ AI, programming, product design, business, and technology\n- Preprocessing:\
            \ Title, summary, main points, key quotes, and tags extracted\n- Translation\
            \ direction: English to Chinese or Chinese to English\n- Purpose: Translate\
            \ preprocessed information for target language readers\n- Requirements:\
            \ Accurately convey original meaning and conform to target language conventions\n\
            \n## Task Objective\nComprehensively review the initial translation, identify\
            \ issues, and provide guidelines for optimization.\n\n## Input Format\n\
            1. Source language\n2. Target language\n3. Original text (Markdown)\n\
            4. Analysis results (JSON)\n5. Identified technical terms and their initial\
            \ translations\n\n## JSON Structure\n- title: Title\n- oneSentenceSummary:\
            \ One-sentence summary\n- summary: Full text summary\n- tags: List of\
            \ tags\n- mainPoints: Main points (point and explanation)\n- keyQuotes:\
            \ Key quotes\n\n## Analysis Points\n1. Terminology and Technical Concepts\n\
            \   - Locate: Issues with term or technical concept translations\n   -\
            \ Describe: Accuracy, consistency, or expression problems\n   - Suggest:\
            \ Directions for improvement\n   - Example: Unify translations of \"machine\
            \ learning\", \"deep learning\"; optimize explanation of \"end-to-end\
            \ learning\"\n\n2. Language Expression and Structure\n   - Locate: Unnatural\
            \ or awkward expressions\n   - Describe: Reasons for non-conformity to\
            \ target language conventions\n   - Suggest: Directions for improvement\n\
            \   - Example: Adjust \"This feature is cool\" to a more professional\
            \ expression; restructure complex sentences for improved readability\n\
            \n3. Industry-Specific Expressions and Cultural Adaptation\n   - Locate:\
            \ Expressions not conforming to industry conventions or with cultural\
            \ discrepancies\n   - Describe: Potential misunderstandings or inappropriate\
            \ usage\n   - Suggest: Adaptive expression suggestions\n   - Example:\
            \ Change \"user-friendly\" to \"intuitive user interface\"; appropriately\
            \ handle culture-specific terms\n\n4. Format Consistency\n   - Locate:\
            \ Inconsistent formatting\n   - Describe: Specific inconsistency issues\n\
            \   - Suggest: Unified formatting suggestions\n   - Example: Standardize\
            \ spacing in mixed Chinese-English text; add spaces between Chinese and\
            \ English words or numbers\n\n## Output Requirements and Quality Assurance\n\
            1. Use a Markdown-formatted bullet list, including location, description,\
            \ and suggestion for each issue\n2. Maintain a professional, objective\
            \ tone with accurate technical terminology\n3. Focus on identifying issues;\
            \ complete rewrites are not necessary\n4. Prioritize accuracy of technical\
            \ terms and industry expressions; ensure consistent terminology use\n\
            5. Consider target audience needs (e.g., developers, product managers)\n\
            6. Analyze all article sections (title, summary, main points, etc.)\n\
            7. Highlight any translation issues affecting overall comprehension\n\
            8. Provide clear, specific problem descriptions aligned with the article's\
            \ technical nature\n9. Conclude with a summary of main issue types and\
            \ improvement directions"
        - id: c2703c48-701c-463a-8977-d5c2b12eaf66
          role: user
          text: "Please review the translation results of the article analysis JSON\
            \ according to the requirements, and output the issues present in the\
            \ translation as specified.\n1. Source language: \n{{#1719357159255.languageName#}}\n\
            \n2. Target language: \n{{#1719357159255.destLanguageName#}}\n\n3. Original\
            \ text (Markdown): \n```markdown\n{{#1719357159255.markdown#}}\n```\n\n\
            4. Analysis results (JSON): \n```json\n{{#1719357159255.analysisResult#}}\n\
            ```\n\n5. Technical term identification and initial translation results:\
            \ \n{{#1719665970105.text#}}"
        selected: false
        title: Identifying Issues with Direct Translation
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 146
      id: '1719666182344'
      position:
        x: 1242
        y: 299
      positionAbsolute:
        x: 1242
        y: 299
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Produce a polished translation that balances accuracy and fluency, incorporating
          identified terminology and addressing previous translation issues.
        model:
          completion_params:
            temperature: 0.3
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: 0017c1f5-6a65-463f-98bd-b384f55e1362
          role: system
          text: "# AI Translation Optimization Expert\n\n## Overview\nOptimize and\
            \ refine translations of technical articles, ensuring fidelity to the\
            \ original meaning while aligning with target language conventions.\n\n\
            ## Context\n- Content: Tech articles (AI, programming, product, design,\
            \ business, technology) with extracted JSON data (title, summary, main\
            \ points, key quotes, tags)\n- Initial translation: Completed but potentially\
            \ flawed\n- Direction: English to Chinese or Chinese to English\n- Goal:\
            \ Enhance translation quality for improved target audience comprehension\n\
            \n## Objective\n**Refine the initial translation based on identified issues,\
            \ improving accuracy, readability, and cultural relevance.**\n\n## Input\n\
            1. Source language\n2. Target language\n3. Original text analysis (JSON)\n\
            4. **Glossary of technical terms with initial translations**\n5. Translation\
            \ issue analysis (Markdown)\n\n## JSON Structure\n- title\n- oneSentenceSummary\n\
            - summary\n- tags\n- mainPoints (point and explanation)\n- keyQuotes\n\
            \n## Analysis Guidelines\n1. Terminology and Technical Concepts\n   -\
            \ **Ensure precise and consistent translation of technical terms**\n \
            \  - **Provide concise explanations for complex concepts when necessary**\n\
            \   - **Utilize the provided technical glossary**\n\n2. Language and Structure\n\
            \   - **Adapt sentence structures to target language norms**\n   - **Enhance\
            \ overall fluency and naturalness**\n   - **Avoid awkward literal translations**\n\
            \n3. Cultural Adaptation\n   - **Consider target language cultural context**\n\
            \   - **Incorporate appropriate idioms or colloquialisms**\n   - **Be\
            \ mindful of cross-cultural sensitivities**\n\n4. Formatting Consistency\n\
            \   - Maintain JSON structure\n   - **Standardize formatting (e.g., spacing\
            \ between Chinese and English text/numbers)**\n   - Ensure consistent\
            \ punctuation usage\n\n## Output Requirements and Quality Assurance\n\
            1. Format: **Produce a JSON string mirroring the original structure, with\
            \ values translated to the target language**\n2. Accuracy:\n   - **Faithfully\
            \ convey the core message without omitting key information**\n   - **Maintain\
            \ technical accuracy suitable for a professional audience**\n3. Readability:\n\
            \   - **Ensure logical flow and ease of comprehension**\n   - **Enhance\
            \ overall readability, avoiding unnatural expressions**\n4. Terminology:\n\
            \   - **Maintain consistent use of terms, especially key technical vocabulary**\n\
            \   - **For challenging concepts, use paraphrasing or brief explanations\
            \ without significant expansion**\n5. Cultural Fit:\n   - **Address cross-cultural\
            \ expression differences**\n   - **Localize examples or quotes as needed**\n\
            6. Formatting:\n   - **For Chinese translations, add appropriate spacing**\n\
            \   - Preserve JSON structure and key names\n\n**Task: Analyze the provided\
            \ input comprehensively and deliver an optimized translation in JSON format.\
            \ The translation should accurately reflect the original content while\
            \ adapting to the target language's conventions and cultural context.**"
        - id: b80ef907-73bb-46cf-9c02-57e773e7eab5
          role: user
          text: 'Please analyze the JSON string of the article analysis result, the
            direct translation result, and the translation issue analysis result comprehensively
            according to the requirements. Output the improved translation as requested
            in JSON string format.


            1. Source language:

            {{#1719357159255.languageName#}}

            2. Target language:

            {{#1719357159255.destLanguageName#}}

            3. Original text analysis results (JSON):

            ```json

            {{#1719357159255.analysisResult#}}

            ```

            4. List of identified technical terms and initial translation results:

            {{#1719665970105.text#}}

            5. Initial Translation issue analysis results:

            {{#1719666182344.text#}}'
        selected: false
        title: Refined Translation
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 200
      id: '1719666267591'
      position:
        x: 1545
        y: 299
      positionAbsolute:
        x: 1545
        y: 299
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Output the result in JSON format
        outputs:
        - value_selector:
          - '1719666267591'
          - text
          variable: analysisResult
        selected: false
        title: End
        type: end
      height: 120
      id: '1719666292377'
      position:
        x: 1848
        y: 299
      positionAbsolute:
        x: 1848
        y: 299
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 105.49999999999989
      y: 9.916666666666686
      zoom: 0.5833333333333334
