flows/Dify/dsl/article_analysis_result_translate_workflow.yml
app:
  description: "\u5229\u7528\u5927\u8BED\u8A00\u6A21\u578B\u5BF9\u6587\u7AE0\u5206\
    \u6790\u7684\u7ED3\u679C\u8FDB\u884C\u7FFB\u8BD1"
  icon: "\U0001F1EC\U0001F1E7"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "BestBlogs \u6587\u7AE0\u5206\u6790\u7ED3\u679C\u7FFB\u8BD1\u6D41\u7A0B"
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: http-request
      id: 1718352852007-source-1719356422842-target
      source: '1718352852007'
      sourceHandle: source
      target: '1719356422842'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1719356422842-source-1719357159255-target
      source: '1719356422842'
      sourceHandle: source
      target: '1719357159255'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 1719357159255-source-1719665676320-target
      source: '1719357159255'
      sourceHandle: source
      target: '1719665676320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1719665676320-false-1719665691522-target
      source: '1719665676320'
      sourceHandle: 'false'
      target: '1719665691522'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1719665676320-true-1719665748274-target
      source: '1719665676320'
      sourceHandle: 'true'
      target: '1719665748274'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1719665748274-source-1719665970105-target
      source: '1719665748274'
      sourceHandle: source
      target: '1719665970105'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1719665970105-source-1719666182344-target
      source: '1719665970105'
      sourceHandle: source
      target: '1719666182344'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1719666182344-source-1719666267591-target
      source: '1719666182344'
      sourceHandle: source
      target: '1719666267591'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1719666267591-source-1719666292377-target
      source: '1719666267591'
      sourceHandle: source
      target: '1719666292377'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: "\u8F93\u5165\u6587\u7AE0 Id"
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: "BestBlogs \u6587\u7AE0 Id"
          max_length: 20
          options: []
          required: true
          type: text-input
          variable: input_article_id
      height: 118
      id: '1718352852007'
      position:
        x: 942
        y: -198.92857142857142
      positionAbsolute:
        x: 942
        y: -198.92857142857142
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: ''
          type: none
        desc: ''
        headers: ''
        method: get
        params: id:{{#1718352852007.input_article_id#}}
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: "\u83B7\u53D6\u6587\u7AE0\u4FE1\u606F"
        type: http-request
        url: https://api.bestblogs.dev/api/resource/markdown
        variables: []
      height: 104
      id: '1719356422842'
      position:
        x: 933.9999999999999
        y: -24.071428571428527
      positionAbsolute:
        x: 933.9999999999999
        y: -24.071428571428527
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\n\ndef main(json_body):\n    \"\"\"\n    \u5904\u7406 REST\
          \ \u8BF7\u6C42\u8FD4\u56DE\u7684 JSON \u5B57\u7B26\u4E32\u3002\n    \n \
          \   \u82E5\u8F93\u5165\u4E3A\u7A7A\u5B57\u7B26\u4E32\u6216JSON\u89E3\u6790\
          \u5931\u8D25\uFF0C\u5219\u8FD4\u56DE {'success': 'false'}\u3002\n    \u82E5\
          \ JSON \u5B57\u7B26\u4E32\u89E3\u6790\u6210\u529F\u4E14 'success' \u4E3A\
          \ 'true'\uFF0C\u5219\u8FD4\u56DE\u5305\u542B\u6307\u5B9A\u952E\u503C\u7684\
          \u5B57\u5178\u3002\n    \u5426\u5219\u8FD4\u56DE {'success': 'false'}\u3002\
          \n\n    \u53C2\u6570:\n        json_body (str): \u5305\u542B JSON \u6570\
          \u636E\u7684\u5B57\u7B26\u4E32\u3002\n    \n    \u8FD4\u56DE:\n        dict:\
          \ \u5305\u542B 'success' \u952E\u548C\u6307\u5B9A\u7684\u6570\u636E\u952E\
          \u503C\u5BF9\u7684\u5B57\u5178\u3002\n    \"\"\"\n    \n    result = {'success':\
          \ 'false'}\n    \n    if not json_body:\n        return result\n\n    try:\n\
          \        data = json.loads(json_body)\n        if isinstance(data, dict)\
          \ and data.get('success') == 'true':\n            result['success'] = 'true'\n\
          \            result['markdown'] = data.get('markdown', '')\n           \
          \ result['sourceName'] = data.get('sourceName', '')\n            result['title']\
          \ = data.get('title', '')\n            result['url'] = data.get('url', '')\n\
          \            result['languageName'] = data.get('languageName', '\u4E2D\u6587\
          ')\n            result['analysisResult'] = data.get('analysisResult', '')\n\
          \        return result\n    except json.JSONDecodeError:\n        return\
          \ result\n    except Exception:\n        return result"
        code_language: python3
        desc: "\u89E3\u6790\u8BF7\u6C42\u7ED3\u679C"
        outputs:
          analysisResult:
            children: null
            type: string
          languageName:
            children: null
            type: string
          markdown:
            children: null
            type: string
          sourceName:
            children: null
            type: string
          success:
            children: null
            type: string
          title:
            children: null
            type: string
          url:
            children: null
            type: string
        selected: false
        title: "\u89E3\u6790\u6587\u7AE0\u4FE1\u606F"
        type: code
        variables:
        - value_selector:
          - '1719356422842'
          - body
          variable: json_body
      height: 82
      id: '1719357159255'
      position:
        x: 942
        y: 135.35714285714283
      positionAbsolute:
        x: 942
        y: 135.35714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        conditions:
        - comparison_operator: not empty
          id: '1719665678819'
          value: ''
          variable_selector:
          - '1719357159255'
          - analysisResult
        desc: ''
        logical_operator: and
        selected: false
        title: "\u6761\u4EF6\u5206\u652F"
        type: if-else
      height: 124
      id: '1719665676320'
      position:
        x: 942
        y: 272.5
      positionAbsolute:
        x: 942
        y: 272.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1719357159255'
          - analysisResult
          variable: analysisResult
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 88
      id: '1719665691522'
      position:
        x: 1347.4285714285716
        y: 462.5000000000001
      positionAbsolute:
        x: 1347.4285714285716
        y: 462.5000000000001
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u8BC6\u522B\u4E13\u6709\u540D\u8BCD"
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-35-turbo
          provider: azure_openai
        prompt_template:
        - id: 7c3ca9d7-6261-4c9c-b6dc-f88898c2f6fe
          role: system
          text: "<\u4EFB\u52A1>\n\u8BC6\u522B\u7528\u6237\u8F93\u5165\u7684JSON\u6587\
            \u672C\u4E2D\u6240\u6709\u5B57\u6BB5\u7684\u6280\u672F\u6027\u6216\u9886\
            \u57DF\u7279\u5B9A\u7684\u4E13\u4E1A\u672F\u8BED\u3002\u4F7F\u7528 {\u539F\
            \u6587\u672F\u8BED} -> {\u7FFB\u8BD1\u540E\u672F\u8BED} \u7684\u683C\u5F0F\
            \u5C55\u793A\u672F\u8BED\u5BF9\u5E94\u5173\u7CFB\u3002\n\n\u7FFB\u8BD1\
            \u89C4\u5219\uFF1A\n1. \u5982\u679C\u539F\u6587\u4E3A\u4E2D\u6587\uFF0C\
            \u5C06\u672F\u8BED\u7FFB\u8BD1\u4E3A\u82F1\u6587\u3002\u5BF9\u4E8E\u82F1\
            \u6587\u7F29\u5199\uFF0C\u4FDD\u7559\u539F\u6837\u5E76\u5728\u62EC\u53F7\
            \u4E2D\u63D0\u4F9B\u82F1\u6587\u5168\u79F0\u3002\n   \u4F8B\uFF1A\u4EBA\
            \u5DE5\u667A\u80FD -> Artificial Intelligence (AI)\n2. \u5982\u679C\u539F\
            \u6587\u4E3A\u82F1\u6587\uFF0C\u5C06\u672F\u8BED\u7FFB\u8BD1\u4E3A\u4E2D\
            \u6587\u3002\u5BF9\u4E8E\u5E38\u7528\u7684\u82F1\u6587\u7F29\u5199\uFF0C\
            \u4FDD\u7559\u539F\u6837\u5E76\u5728\u62EC\u53F7\u4E2D\u63D0\u4F9B\u4E2D\
            \u6587\u5168\u79F0\u3002\n   \u4F8B\uFF1AAI -> \u4EBA\u5DE5\u667A\u80FD\
            \ (AI)\n\n\u8BF7\u6CE8\u610F\uFF1A\n1. \u4EC5\u8BC6\u522B\u771F\u6B63\u7684\
            \u4E13\u4E1A\u672F\u8BED\uFF0C\u907F\u514D\u666E\u901A\u8BCD\u6C47\u3002\
            \n2. \u6BCF\u4E2A\u72EC\u7279\u7684\u672F\u8BED\u53EA\u9700\u8F93\u51FA\
            \u4E00\u6B21\uFF0C\u5373\u4F7F\u5B83\u5728\u6587\u672C\u4E2D\u591A\u6B21\
            \u51FA\u73B0\u3002\n3. \u6309\u6280\u672F\u9886\u57DF\u5BF9\u672F\u8BED\
            \u8FDB\u884C\u5206\u7EC4\uFF08\u5982AI\u3001UX\u3001\u4EA7\u54C1\u8BBE\
            \u8BA1\u7B49\uFF09\u3002\n4. \u6839\u636E\u8F93\u5165\u6587\u672C\u7684\
            \u4E3B\u8981\u8BED\u8A00\uFF08\u4E2D\u6587\u6216\u82F1\u6587\uFF09\u6765\
            \u51B3\u5B9A\u7FFB\u8BD1\u65B9\u5411\u3002\n\n<\u8F93\u5165\u683C\u5F0F\
            > \n\u8F93\u5165\u662F\u4E00\u4E2AJSON\u5B57\u7B26\u4E32\uFF0C\u5305\u542B\
            \u4EE5\u4E0B\u5B57\u6BB5\uFF1AoneSentenceSummary, summary, tags, mainPoints\
            \ (\u5305\u542Bpoint\u548Cexplanation), keyQuotes\u3002\u8BF7\u4ECE\u6240\
            \u6709\u8FD9\u4E9B\u5B57\u6BB5\u4E2D\u8BC6\u522B\u4E13\u4E1A\u672F\u8BED\
            \u3002\n\n<\u8F93\u5165\u793A\u4F8B>\n{\n    \"oneSentenceSummary\": \"\
            AI\u4EA7\u54C1\u5728\u7528\u6237\u5165\u53E3\u8BBE\u8BA1\u4E0A\u7684\u521B\
            \u65B0\u548C\u7ADE\u4E89\u7B56\u7565\u53D8\u5F97\u8D8A\u6765\u8D8A\u91CD\
            \u8981\uFF0C\u8D85\u7EA7\u5165\u53E3\u5C06\u6210\u4E3A\u672A\u6765AI\u5E94\
            \u7528\u7684\u5173\u952E\u6240\u5728\u3002\",\n    \"summary\": \"\u672C\
            \u6587\u63A2\u8BA8\u4E86AI\u4EA7\u54C1\u5728\u4E89\u593A\u7528\u6237\u5165\
            \u53E3\u65B9\u9762\u7684\u8BBE\u8BA1\u95EE\u9898\uFF0C\u6307\u51FA\u968F\
            \u7740\u6D41\u91CF\u7684\u5B9D\u8D35\uFF0C\u5404\u4E2A\u4EA7\u54C1\u3001\
            \u5E73\u53F0\u90FD\u5728\u76F8\u4E92\u7ADE\u4E89\uFF0CAI\u4EA7\u54C1\u66F4\
            \u662F\u5982\u6B64\u3002\u3002\u3002\u3002\u3002\u3002\",\n    \"tags\"\
            : [\n        \"\u4EBA\u5DE5\u667A\u80FD\",\n        \"\u7528\u6237\u4F53\
            \u9A8C\",\n        \"\u7528\u6237\u5165\u53E3\u8BBE\u8BA1\",\n       \
            \ \"\u8D85\u7EA7\u5165\u53E3\",\n        \"ChatGPT\",\n        \"\u5927\
            \u6A21\u578B\",\n        \"AI\u5E94\u7528\",\n        \"\u4EA7\u54C1\u8BBE\
            \u8BA1\"\n    ],\n    \"mainPoints\": [\n        {\n            \"point\"\
            : \"AI\u4EA7\u54C1\u7684\u7528\u6237\u5165\u53E3\u8BBE\u8BA1\u8D8A\u6765\
            \u8D8A\u91CD\u8981\u3002\",\n            \"explanation\": \"AI\u4EA7\u54C1\
            \u7684\u5E02\u573A\u7ADE\u4E89\u8D8A\u6765\u8D8A\u6FC0\u70C8\uFF0C\u7528\
            \u6237\u5165\u53E3\u8BBE\u8BA1\u662F\u5438\u5F15\u7528\u6237\u7684\u5173\
            \u952E\u3002\"\n        },\n        {\n            \"point\": \"\u5E73\
            \u8861\u7528\u6237\u4F53\u9A8C\u548C\u529F\u80FD\u7684\u91CD\u8981\u6027\
            \u3002\",\n            \"explanation\": \"\u7528\u6237\u5165\u53E3\u8BBE\
            \u8BA1\u9700\u8981\u5E73\u8861\u7528\u6237\u4F53\u9A8C\u548C\u529F\u80FD\
            \uFF0C\u4E0D\u80FD\u53EA\u6CE8\u91CD\u529F\u80FD\u800C\u5FFD\u7565\u7528\
            \u6237\u4F53\u9A8C\u3002\"\n        }\n    ],\n    \"keyQuotes\": [\n\
            \        \"AI\u4EA7\u54C1\u7684\u7528\u6237\u5165\u53E3\u8BBE\u8BA1\u8D8A\
            \u6765\u8D8A\u91CD\u8981\uFF0C\u5B83\u4E0D\u4EC5\u4EC5\u662F\u4EA7\u54C1\
            \u7684\u95E8\u9762\uFF0C\u4E5F\u662F\u4EA7\u54C1\u7684\u751F\u547D\u7EBF\
            \u3002\",\n        \"\u5728\u7528\u6237\u5165\u53E3\u8BBE\u8BA1\u4E0A\uFF0C\
            \u65E2\u8981\u6709\u5DEE\u5F02\u5316\uFF0C\u53C8\u8981\u4FDD\u6301\u53CB\
            \u597D\u6027\uFF0C\u8FD9\u662F\u4E00\u4E2A\u975E\u5E38\u5FAE\u5999\u7684\
            \u5E73\u8861\u3002\"\n    ]\n}\n\n<\u8F93\u51FA\u683C\u5F0F>\n[\u6280\u672F\
            \u9886\u57DF1]\n{\u539F\u6587\u672F\u8BED1} -> {\u7FFB\u8BD1\u540E\u672F\
            \u8BED1}\n{\u539F\u6587\u672F\u8BED2} -> {\u7FFB\u8BD1\u540E\u672F\u8BED\
            2}\n\n[\u6280\u672F\u9886\u57DF2]\n{\u539F\u6587\u672F\u8BED3} -> {\u7FFB\
            \u8BD1\u540E\u672F\u8BED3}\n{\u539F\u6587\u672F\u8BED4} -> {\u7FFB\u8BD1\
            \u540E\u672F\u8BED4}\n\n<\u4E2D\u6587\u5230\u82F1\u6587\u8F93\u51FA\u793A\
            \u4F8B>\n[\u4EBA\u5DE5\u667A\u80FD]\n\u4EBA\u5DE5\u667A\u80FD -> Artificial\
            \ Intelligence (AI)\n\u5927\u6A21\u578B -> Large Language Model (LLM)\n\
            ChatGPT -> ChatGPT\n\n[\u7528\u6237\u4F53\u9A8C\u4E0E\u4EA7\u54C1\u8BBE\
            \u8BA1]\n\u7528\u6237\u5165\u53E3 -> User Entry Point\n\u8D85\u7EA7\u5165\
            \u53E3 -> Super Entry Point\n\u7528\u6237\u4F53\u9A8C -> User Experience\
            \ (UX)\n\n[\u673A\u5668\u5B66\u4E60]\n\u96F6\u6837\u672C\u5B66\u4E60 ->\
            \ Zero-shot Learning\n\u5C11\u6837\u672C\u5B66\u4E60 -> Few-shot Learning\n\
            \n<\u82F1\u6587\u5230\u4E2D\u6587\u8F93\u51FA\u793A\u4F8B>\n[Artificial\
            \ Intelligence]\nAI -> \u4EBA\u5DE5\u667A\u80FD (AI)\nLarge Language Model\
            \ -> \u5927\u8BED\u8A00\u6A21\u578B (LLM)\nChatGPT -> ChatGPT\n\n[User\
            \ Experience & Product Design]\nUser Entry Point -> \u7528\u6237\u5165\
            \u53E3\nSuper Entry Point -> \u8D85\u7EA7\u5165\u53E3\nUX -> \u7528\u6237\
            \u4F53\u9A8C (User Experience)\n\n[Machine Learning]\nZero-shot Learning\
            \ -> \u96F6\u6837\u672C\u5B66\u4E60\nFew-shot Learning -> \u5C11\u6837\
            \u672C\u5B66\u4E60"
        - id: 9b27354a-5968-4c36-9259-fd046b09fb3b
          role: user
          text: "\u8BF7\u6839\u636E\u8981\u6C42\u8BC6\u522B\u4EE5\u4E0B\u8F93\u5165\
            \ JSON \u5B57\u7B26\u4E32\u4E2D\u7684\u672F\u8BED\uFF0C\u8F93\u51FA\u5BF9\
            \u5E94\u7684\u7FFB\u8BD1\u7ED3\u679C\u3002\n\n```json\n{{#1719357159255.analysisResult#}}\n\
            ```"
        selected: false
        title: "\u8BC6\u522B\u4E13\u6709\u540D\u8BCD"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1719665748274'
      position:
        x: 1347.4285714285716
        y: 243.35714285714283
      positionAbsolute:
        x: 1347.4285714285716
        y: 243.35714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u76F4\u63A5\u7FFB\u8BD1"
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-35-turbo
          provider: azure_openai
        prompt_template:
        - id: 9f405119-fd90-46f9-9479-312561ef194c
          role: system
          text: "<\u4EFB\u52A1> \n\u4F7F\u7528\u63D0\u4F9B\u7684\u539F\u59CBJSON\u5B57\
            \u7B26\u4E32\u548C\u8BC6\u522B\u7684\u4E13\u4E1A\u672F\u8BED\u5217\u8868\
            \uFF0C\u5C06\u5185\u5BB9\u7FFB\u8BD1\u4E3A\u76EE\u6807\u8BED\u8A00\u3002\
            \u5982\u679C\u539F\u59CB\u8BED\u8A00\u662F\u4E2D\u6587\uFF0C\u5219\u7FFB\
            \u8BD1\u4E3A\u82F1\u6587\uFF1B\u5982\u679C\u539F\u59CB\u8BED\u8A00\u662F\
            \u82F1\u6587\uFF0C\u5219\u7FFB\u8BD1\u4E3A\u4E2D\u6587\u3002\u8BF7\u786E\
            \u4FDD\u7FFB\u8BD1\u51C6\u786E\u3001\u6D41\u7545\uFF0C\u5E76\u9075\u5FAA\
            \u4EE5\u4E0B\u89C4\u5219\uFF1A\n1. \u4FDD\u7559\u4E13\u4E1A\u672F\u8BED\
            \u7684\u6B63\u786E\u6027\uFF0C\u4F7F\u7528\u63D0\u4F9B\u7684\u4E13\u4E1A\
            \u672F\u8BED\u5217\u8868\u3002\n2. \u5BF9\u4E8E\u5DF2\u7ECF\u662F\u76EE\
            \u6807\u8BED\u8A00\u7684\u672F\u8BED\uFF0C\u4FDD\u6301\u539F\u6837\u3002\
            \n3. \u76F4\u63A5\u4F7F\u7528\u5E38\u89C1\u7F29\u5199\uFF08\u5982AI\u3001\
            UX\u7B49\uFF09\uFF0C\u65E0\u9700\u5C55\u5F00\u3002\n4. \u5982\u9047\u5230\
            \u672A\u5728\u4E13\u4E1A\u672F\u8BED\u5217\u8868\u4E2D\u7684\u672F\u8BED\
            \uFF0C\u5C1D\u8BD5\u7FFB\u8BD1\u5373\u53EF\u3002\n5. \u4FDD\u6301\u539F\
            \u6587\u7684\u8BED\u6C14\u548C\u98CE\u683C\u3002\n6. \u5BF9\u4E8E\u6A21\
            \u7CCA\u6216\u4E0D\u786E\u5B9A\u7684\u5185\u5BB9\uFF0C\u5C1D\u8BD5\u76F4\
            \u63A5\u7FFB\u8BD1\uFF0C\u65E0\u9700\u989D\u5916\u8BF4\u660E\u3002\n\n\
            <\u8F93\u5165\u683C\u5F0F> \n\u8F93\u5165\u5305\u62EC\u4E09\u4E2A\u90E8\
            \u5206\uFF1A\n1. \u6587\u7AE0\u5206\u6790\u7ED3\u679CJSON\u5B57\u7B26\u4E32\
            \n2. \u8BC6\u522B\u7684\u4E13\u4E1A\u672F\u8BED\u5217\u8868\n3. \u539F\
            \u59CB\u8BED\u8A00\uFF08\"\u4E2D\u6587\"\u6216\"\u82F1\u6587\"\uFF09\n\
            \n<\u6587\u7AE0\u5206\u6790\u7ED3\u679CJSON\u5B57\u7B26\u4E32\u8F93\u5165\
            \u793A\u4F8B>\n{\n    \"oneSentenceSummary\": \"AI\u4EA7\u54C1\u5728\u7528\
            \u6237\u5165\u53E3\u8BBE\u8BA1\u4E0A\u7684\u521B\u65B0\u548C\u7ADE\u4E89\
            \u7B56\u7565\u53D8\u5F97\u8D8A\u6765\u8D8A\u91CD\u8981\uFF0C\u8D85\u7EA7\
            \u5165\u53E3\u5C06\u6210\u4E3A\u672A\u6765AI\u5E94\u7528\u7684\u5173\u952E\
            \u6240\u5728\u3002\",\n    \"summary\": \"\u672C\u6587\u63A2\u8BA8\u4E86\
            AI\u4EA7\u54C1\u5728\u4E89\u593A\u7528\u6237\u5165\u53E3\u65B9\u9762\u7684\
            \u8BBE\u8BA1\u95EE\u9898\uFF0C\u6307\u51FA\u968F\u7740\u6D41\u91CF\u7684\
            \u5B9D\u8D35\uFF0C\u5404\u4E2A\u4EA7\u54C1\u3001\u5E73\u53F0\u90FD\u5728\
            \u76F8\u4E92\u7ADE\u4E89\uFF0CAI\u4EA7\u54C1\u66F4\u662F\u5982\u6B64\u3002\
            \u3002\u3002\u3002\u3002\u3002\",\n    \"tags\": [\n        \"\u4EBA\u5DE5\
            \u667A\u80FD\",\n        \"\u7528\u6237\u4F53\u9A8C\",\n        \"\u7528\
            \u6237\u5165\u53E3\u8BBE\u8BA1\",\n        \"\u8D85\u7EA7\u5165\u53E3\"\
            ,\n        \"ChatGPT\",\n        \"\u5927\u6A21\u578B\",\n        \"AI\u5E94\
            \u7528\",\n        \"\u4EA7\u54C1\u8BBE\u8BA1\"\n    ],\n    \"mainPoints\"\
            : [\n        {\n            \"point\": \"AI\u4EA7\u54C1\u7684\u7528\u6237\
            \u5165\u53E3\u8BBE\u8BA1\u8D8A\u6765\u8D8A\u91CD\u8981\u3002\",\n    \
            \        \"explanation\": \"AI\u4EA7\u54C1\u7684\u5E02\u573A\u7ADE\u4E89\
            \u8D8A\u6765\u8D8A\u6FC0\u70C8\uFF0C\u7528\u6237\u5165\u53E3\u8BBE\u8BA1\
            \u662F\u5438\u5F15\u7528\u6237\u7684\u5173\u952E\u3002\"\n        },\n\
            \        {\n            \"point\": \"\u5E73\u8861\u7528\u6237\u4F53\u9A8C\
            \u548C\u529F\u80FD\u7684\u91CD\u8981\u6027\u3002\",\n            \"explanation\"\
            : \"\u7528\u6237\u5165\u53E3\u8BBE\u8BA1\u9700\u8981\u5E73\u8861\u7528\
            \u6237\u4F53\u9A8C\u548C\u529F\u80FD\uFF0C\u4E0D\u80FD\u53EA\u6CE8\u91CD\
            \u529F\u80FD\u800C\u5FFD\u7565\u7528\u6237\u4F53\u9A8C\u3002\"\n     \
            \   }\n    ],\n    \"keyQuotes\": [\n        \"AI\u4EA7\u54C1\u7684\u7528\
            \u6237\u5165\u53E3\u8BBE\u8BA1\u8D8A\u6765\u8D8A\u91CD\u8981\uFF0C\u5B83\
            \u4E0D\u4EC5\u4EC5\u662F\u4EA7\u54C1\u7684\u95E8\u9762\uFF0C\u4E5F\u662F\
            \u4EA7\u54C1\u7684\u751F\u547D\u7EBF\u3002\",\n        \"\u5728\u7528\u6237\
            \u5165\u53E3\u8BBE\u8BA1\u4E0A\uFF0C\u65E2\u8981\u6709\u5DEE\u5F02\u5316\
            \uFF0C\u53C8\u8981\u4FDD\u6301\u53CB\u597D\u6027\uFF0C\u8FD9\u662F\u4E00\
            \u4E2A\u975E\u5E38\u5FAE\u5999\u7684\u5E73\u8861\u3002\"\n    ]\n}\n\n\
            <\u8BC6\u522B\u7684\u4E13\u4E1A\u672F\u8BED\u5217\u8868\u8F93\u5165\u793A\
            \u4F8B>\n\u4EBA\u5DE5\u667A\u80FD -> Artificial Intelligence\n\u7528\u6237\
            \u4F53\u9A8C -> User Experience\n\u7528\u6237\u5165\u53E3\u8BBE\u8BA1\
            \ -> User Entry Design\n\u8D85\u7EA7\u5165\u53E3 -> Super Entry\nChatGPT\
            \ -> ChatGPT\n\u5927\u6A21\u578B -> Large Model\nAI\u5E94\u7528 -> AI\
            \ Application\n\u4EA7\u54C1\u8BBE\u8BA1 -> Product Design\n\n<\u539F\u59CB\
            \u8BED\u8A00>\n\u4E2D\u6587\n\n<\u8F93\u51FA\u683C\u5F0F>\n{\n    \"oneSentenceSummary\"\
            : \"Translated one sentence summary\",\n    \"summary\": \"Translated\
            \ full summary\",\n    \"tags\": [\n        \"Translated Tag1\",\n   \
            \     \"Translated Tag2\"\n    ],\n    \"mainPoints\": [\n        {\n\
            \            \"point\": \"Translated main point 1\",\n            \"explanation\"\
            : \"Translated explanation 1\"\n        },\n        {\n            \"\
            point\": \"Translated main point 2\",\n            \"explanation\": \"\
            Translated explanation 2\"\n        }\n    ],\n    \"keyQuotes\": [\n\
            \        \"Translated key quote 1\",\n        \"Translated key quote 2\"\
            \n    ]\n}\n\n\u6CE8\u610F\uFF1A\u8BF7\u786E\u4FDD\u7FFB\u8BD1\u51C6\u786E\
            \u3001\u6D41\u7545\uFF0C\u5E76\u4FDD\u6301\u539F\u6587\u7684\u4E13\u4E1A\
            \u6027\u548C\u8BED\u6C14\u3002"
        - id: 7c8529ca-9914-42e7-9132-299528454ba1
          role: user
          text: "\u8BF7\u6839\u636E\u8981\u6C42\u8BC6\u522B\u5BF9\u4EE5\u4E0B\u6587\
            \u7AE0\u5206\u6790\u7ED3\u679C JSON \u5B57\u7B26\u4E32\u8FDB\u884C\u7FFB\
            \u8BD1\uFF0C\u6309\u8981\u6C42\u8F93\u51FA\u7FFB\u8BD1\u540E\u7684\u76EE\
            \u6807\u8BED\u8A00\u7684 JSON \u5B57\u7B26\u4E32\u3002\n\n<\u6587\u7AE0\
            \u5206\u6790\u7ED3\u679C JSON \u5B57\u7B26\u4E32>\n```json\n{{#1719357159255.analysisResult#}}\n\
            ```\n\n<\u8BC6\u522B\u7684\u4E13\u4E1A\u672F\u8BED\u5217\u8868>\n{{#1719665748274.text#}}\n\
            \n<\u539F\u59CB\u8BED\u8A00>\n{{#1719357159255.languageName#}}"
        selected: false
        title: "\u76F4\u63A5\u7FFB\u8BD1"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 126
      id: '1719665970105'
      position:
        x: 1651.4285714285716
        y: 243.35714285714283
      positionAbsolute:
        x: 1651.4285714285716
        y: 243.35714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u6307\u51FA\u76F4\u63A5\u7FFB\u8BD1\u7684\u95EE\u9898"
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: azure_openai
        prompt_template:
        - id: 5a81faa2-6f9c-41ce-99ac-0d464611a548
          role: system
          text: "(C) \u4E0A\u4E0B\u6587\uFF1A\u4E3A\u4EFB\u52A1\u63D0\u4F9B\u80CC\u666F\
            \u4FE1\u606F\n\u5927\u8BED\u8A00\u6A21\u578B\u9700\u8981\u68C0\u67E5\u5E76\
            \u6539\u8FDB\u4E00\u6BB5\u5DF2\u6709\u7684\u7FFB\u8BD1\u6587\u672C\u3002\
            \u539F\u6587\u53EF\u80FD\u6D89\u53CA\u5404\u79CD\u4E0E\u6280\u672F\u76F8\
            \u5173\u7684\u4E3B\u9898\uFF0C\u5982AI\u4EA7\u54C1\u3001\u8F6F\u4EF6\u5F00\
            \u53D1\u3001\u7528\u6237\u4F53\u9A8C\u8BBE\u8BA1\u7B49\u3002\u76EE\u6807\
            \u662F\u786E\u4FDD\u7FFB\u8BD1\u6587\u672C\u7B26\u5408\u76EE\u6807\u8BED\
            \u8A00\uFF08\u4E2D\u6587\u6216\u82F1\u6587\uFF09\u7684\u8868\u8FBE\u4E60\
            \u60EF\uFF0C\u53E5\u5B50\u7ED3\u6784\u81EA\u7136\u4E14\u8868\u8FBE\u6E05\
            \u6670\u3002\u539F\u6587\u3001\u5206\u6790\u7ED3\u679C\u548C\u5DF2\u6709\
            \u7FFB\u8BD1\u7684\u6587\u672C\u5C06\u4EE5\u6307\u5B9A\u683C\u5F0F\u63D0\
            \u4F9B\uFF0C\u4EE5\u4FBF\u6A21\u578B\u8FDB\u884C\u8BE6\u7EC6\u5206\u6790\
            \u3002\u7FFB\u8BD1\u65B9\u5411\u53EF\u80FD\u662F\u82F1\u8BD1\u4E2D\u6216\
            \u4E2D\u8BD1\u82F1\uFF0C\u5C06\u5728\u8F93\u5165\u4E2D\u6307\u5B9A\u3002\
            \n\n(O) \u76EE\u6807\uFF1A\u660E\u786E\u4F60\u8981\u6C42\u5927\u8BED\u8A00\
            \u6A21\u578B\u5B8C\u6210\u7684\u4EFB\u52A1\n\u6A21\u578B\u9700\u8981\u8BC6\
            \u522B\u5E76\u6307\u51FA\u5DF2\u6709\u7FFB\u8BD1\u6587\u672C\u4E2D\u7684\
            \u5177\u4F53\u95EE\u9898\uFF0C\u5305\u62EC\u4F46\u4E0D\u9650\u4E8E\u4E0D\
            \u7B26\u5408\u76EE\u6807\u8BED\u8A00\u8868\u8FBE\u4E60\u60EF\u3001\u53E5\
            \u5B50\u7ED3\u6784\u7B28\u62D9\u3001\u8868\u8FBE\u542B\u7CCA\u4E0D\u6E05\
            \u3001\u672F\u8BED\u7FFB\u8BD1\u4E0D\u4E00\u81F4\u6216\u4E0D\u51C6\u786E\
            \u7B49\u65B9\u9762\u7684\u95EE\u9898\u3002\u540C\u65F6\uFF0C\u6A21\u578B\
            \u5E94\u5C1D\u8BD5\u89E3\u91CA\u4E0D\u6E05\u695A\u7684\u90E8\u5206\uFF0C\
            \u5E76\u4E3A\u6BCF\u4E2A\u95EE\u9898\u63D0\u4F9B\u5177\u4F53\u7684\u6539\
            \u8FDB\u5EFA\u8BAE\uFF0C\u4EE5\u4F18\u5316\u6574\u4F53\u7FFB\u8BD1\u8D28\
            \u91CF\u3002\n\n(S) \u98CE\u683C\uFF1A\u660E\u786E\u4F60\u671F\u671B\u7684\
            \u5199\u4F5C\u98CE\u683C\n\u5E0C\u671B\u5927\u8BED\u8A00\u6A21\u578B\u4EE5\
            \u4E13\u4E1A\u4E14\u5B9E\u7528\u7684\u98CE\u683C\u64B0\u5199\u53CD\u9988\
            \uFF0C\u786E\u4FDD\u7528\u8BCD\u51C6\u786E\uFF0C\u63CF\u8FF0\u8BE6\u7EC6\
            \uFF0C\u7B26\u5408\u5F00\u53D1\u8005\u3001\u4EA7\u54C1\u7ECF\u7406\u7B49\
            \u6280\u672F\u4EBA\u5458\u7684\u9700\u6C42\u3002\u53CD\u9988\u5E94\u5305\
            \u542B\u76F8\u5173\u7684\u6280\u672F\u672F\u8BED\u548C\u6982\u5FF5\uFF0C\
            \u5E76\u786E\u4FDD\u8FD9\u4E9B\u672F\u8BED\u5728\u4E2D\u82F1\u6587\u4E4B\
            \u95F4\u7684\u5BF9\u5E94\u51C6\u786E\u3002\n\n(T) \u8BED\u6C14\uFF1A\u8BBE\
            \u7F6E\u56DE\u5E94\u7684\u60C5\u611F\u8C03\n\u8BED\u6C14\u5E94\u4FDD\u6301\
            \u6B63\u5F0F\u4E14\u4E13\u4E1A\uFF0C\u786E\u4FDD\u53CD\u9988\u5177\u6709\
            \u6743\u5A01\u6027\u548C\u5B9E\u7528\u6027\u3002\n\n(A) \u53D7\u4F17\uFF1A\
            \u8BC6\u522B\u76EE\u6807\u53D7\u4F17\n\u76EE\u6807\u53D7\u4F17\u4E3A\u9700\
            \u8981\u9605\u8BFB\u548C\u7406\u89E3\u8FD9\u7BC7\u6587\u7AE0\u7684\u6280\
            \u672F\u4EBA\u5458\uFF0C\u5305\u62EC\u5F00\u53D1\u8005\u3001\u4EA7\u54C1\
            \u7ECF\u7406\u7B49\u3002\u4ED6\u4EEC\u9700\u8981\u901A\u8FC7\u4F18\u5316\
            \u540E\u7684\u7FFB\u8BD1\u6765\u51C6\u786E\u7406\u89E3\u539F\u6587\u5185\
            \u5BB9\uFF0C\u540C\u65F6\u4E5F\u671F\u671B\u7FFB\u8BD1\u7B26\u5408\u76EE\
            \u6807\u8BED\u8A00\u7684\u8868\u8FBE\u4E60\u60EF\u3002\n\n(R) \u54CD\u5E94\
            \uFF1A\u89C4\u5B9A\u8F93\u51FA\u7684\u683C\u5F0F\n\u8F93\u51FA\u683C\u5F0F\
            \u5E94\u4E3A\u8BE6\u7EC6\u7684\u5206\u70B9\u5217\u8868\uFF0C\u4F7F\u7528\
            Markdown\u683C\u5F0F\u3002\u6BCF\u4E2A\u95EE\u9898\u5355\u72EC\u5217\u51FA\
            \u5E76\u8BE6\u7EC6\u8BF4\u660E\uFF0C\u5305\u62EC\u5177\u4F53\u4F4D\u7F6E\
            \u3001\u95EE\u9898\u63CF\u8FF0\u53CA\u6539\u8FDB\u5EFA\u8BAE\u3002\u5982\
            \u679C\u7FFB\u8BD1\u7684\u76EE\u6807\u8BED\u8A00\u662F\u4E2D\u6587\uFF0C\
            \u5728\u4E2D\u6587\u548C\u82F1\u6587\u3001\u6570\u5B57\u4E4B\u95F4\u589E\
            \u52A0\u7A7A\u683C\uFF0C\u4EE5\u6EE1\u8DB3\u6392\u7248\u8981\u6C42\u3002\
            \n\n<\u8F93\u5165>\n\u8F93\u5165\u5305\u542B\u4EE5\u4E0B\u51E0\u4E2A\u90E8\
            \u5206\uFF1A\n\n1. \u539F\u59CB\u6587\u7AE0\u7684 Markdown \u683C\u5F0F\
            \n2. \u6587\u7AE0\u5206\u6790\u7ED3\u679C JSON \u5B57\u7B26\u4E32\n3.\
            \ \u76F4\u63A5\u7FFB\u8BD1\u7ED3\u679C\n4. \u539F\u59CB\u8BED\u8A00\n\n\
            JSON \u5B57\u7B26\u4E32\u7ED3\u6784\u5305\u62EC\u4EE5\u4E0B\u5B57\u6BB5\
            \uFF1A\n- oneSentenceSummary: \u6587\u7AE0\u7684\u4E00\u53E5\u8BDD\u6458\
            \u8981\n- summary: \u6587\u7AE0\u6458\u8981\n- tags: \u6587\u7AE0\u6807\
            \u7B7E\uFF08\u5217\u8868\uFF09\n- mainPoints: \u6587\u7AE0\u7684\u4E3B\
            \u8981\u89C2\u70B9\uFF08\u5217\u8868\uFF09\uFF0C\u6BCF\u4E2A\u89C2\u70B9\
            \u5305\u542B point \u548C explanation \u5B57\u6BB5\n- keyQuotes: \u6587\
            \u7AE0\u4E2D\u7684\u5173\u952E\u5F15\u7528\uFF08\u5217\u8868\uFF09\n\n\
            \u8BF7\u6307\u51FA\u76F4\u63A5\u7FFB\u8BD1\u4E2D\u7684\u5177\u4F53\u95EE\
            \u9898\uFF0C\u5305\u62EC\u4F46\u4E0D\u9650\u4E8E\u4EE5\u4E0B\u65B9\u9762\
            \uFF1A\n\n1. **\u4E0D\u7B26\u5408\u76EE\u6807\u8BED\u8A00\u8868\u8FBE\u4E60\
            \u60EF**\uFF1A\n   - \u5177\u4F53\u4F4D\u7F6E\uFF1A\u8BF7\u6307\u51FA\u5177\
            \u4F53\u7684\u53E5\u5B50\u6216\u8BCD\u7EC4\u3002\n   - \u95EE\u9898\u63CF\
            \u8FF0\uFF1A\u7B80\u8981\u89E3\u91CA\u4E3A\u4EC0\u4E48\u4E0D\u7B26\u5408\
            \u76EE\u6807\u8BED\u8A00\u8868\u8FBE\u4E60\u60EF\u3002\n   - \u6539\u8FDB\
            \u5EFA\u8BAE\uFF1A\u63D0\u4F9B\u66F4\u7B26\u5408\u76EE\u6807\u8BED\u8A00\
            \u4E60\u60EF\u7684\u8868\u8FBE\u65B9\u5F0F\u3002\n\n2. **\u53E5\u5B50\u7ED3\
            \u6784\u7B28\u62D9**\uFF1A\n   - \u5177\u4F53\u4F4D\u7F6E\uFF1A\u8BF7\u6307\
            \u51FA\u5177\u4F53\u4F4D\u7F6E\u3002\n   - \u95EE\u9898\u63CF\u8FF0\uFF1A\
            \u7B80\u8981\u8BF4\u660E\u7ED3\u6784\u4E0A\u4E3A\u4EC0\u4E48\u663E\u5F97\
            \u7B28\u62D9\u6216\u4E0D\u81EA\u7136\u3002\n   - \u6539\u8FDB\u5EFA\u8BAE\
            \uFF1A\u63D0\u4F9B\u66F4\u6D41\u7545\u7684\u53E5\u5B50\u7ED3\u6784\u3002\
            \n\n3. **\u8868\u8FBE\u542B\u7CCA\u4E0D\u6E05\uFF0C\u96BE\u4EE5\u7406\u89E3\
            **\uFF1A\n   - \u5177\u4F53\u4F4D\u7F6E\uFF1A\u8BF7\u6307\u51FA\u5177\u4F53\
            \u53E5\u5B50\u6216\u8BCD\u7EC4\u3002\n   - \u95EE\u9898\u63CF\u8FF0\uFF1A\
            \u6307\u51FA\u8868\u8FBE\u4E0D\u6E05\u695A\u7684\u90E8\u5206\uFF0C\u5E76\
            \u5C1D\u8BD5\u89E3\u91CA\u5176\u542B\u4E49\u3002\n   - \u6539\u8FDB\u5EFA\
            \u8BAE\uFF1A\u63D0\u4F9B\u66F4\u6E05\u6670\u3001\u51C6\u786E\u7684\u8868\
            \u8FBE\u65B9\u5F0F\u3002\n\n4. **\u672F\u8BED\u7FFB\u8BD1\u4E0D\u4E00\u81F4\
            \u6216\u4E0D\u51C6\u786E**\uFF1A\n   - \u5177\u4F53\u4F4D\u7F6E\uFF1A\u8BF7\
            \u68C0\u67E5\u672F\u8BED\u7684\u7FFB\u8BD1\u662F\u5426\u4E00\u81F4\u548C\
            \u51C6\u786E\u3002\n   - \u95EE\u9898\u63CF\u8FF0\uFF1A\u786E\u4FDD\u4E13\
            \u4E1A\u672F\u8BED\u5728\u6574\u4E2A\u6587\u672C\u4E2D\u7EDF\u4E00\u4F7F\
            \u7528\uFF0C\u5E76\u6307\u51FA\u4E0D\u4E00\u81F4\u6216\u4E0D\u51C6\u786E\
            \u7684\u5730\u65B9\u3002\n   - \u6539\u8FDB\u5EFA\u8BAE\uFF1A\u63D0\u4F9B\
            \u6B63\u786E\u548C\u4E00\u81F4\u7684\u672F\u8BED\u7FFB\u8BD1\u3002\n\n\
            5. **\u5176\u4ED6\u95EE\u9898**\uFF1A\n   - \u5177\u4F53\u4F4D\u7F6E\uFF1A\
            \u8BF7\u6307\u51FA\u4EFB\u4F55\u5176\u4ED6\u5B58\u5728\u7684\u95EE\u9898\
            \uFF0C\u5982\u6807\u70B9\u7B26\u53F7\u4F7F\u7528\u3001\u6392\u7248\u7B49\
            \u3002\n   - \u95EE\u9898\u63CF\u8FF0\uFF1A\u8BE6\u7EC6\u8BF4\u660E\u5176\
            \u4ED6\u53EF\u80FD\u5F71\u54CD\u7FFB\u8BD1\u8D28\u91CF\u7684\u95EE\u9898\
            \u3002\n   - \u6539\u8FDB\u5EFA\u8BAE\uFF1A\u63D0\u4F9B\u89E3\u51B3\u65B9\
            \u6848\u6216\u66FF\u4EE3\u8868\u8FBE\u3002\n\n\u6CE8\u610F\uFF1A\u8BF7\
            \u786E\u4FDD\u7FFB\u8BD1\u51C6\u786E\u4F20\u8FBE\u539F\u6587\u7684\u610F\
            \u601D\uFF0C\u540C\u65F6\u7B26\u5408\u76EE\u6807\u8BED\u8A00\u7684\u8868\
            \u8FBE\u4E60\u60EF\u3002\u5BF9\u4E8E\u4E2D\u6587\u7FFB\u8BD1\uFF0C\u8BF7\
            \u7279\u522B\u6CE8\u610F\u5728\u4E2D\u6587\u548C\u82F1\u6587\u3001\u6570\
            \u5B57\u4E4B\u95F4\u589E\u52A0\u7A7A\u683C\uFF0C\u4EE5\u6EE1\u8DB3\u6392\
            \u7248\u8981\u6C42\u3002"
        - id: c2703c48-701c-463a-8977-d5c2b12eaf66
          role: user
          text: "\u8BF7\u6839\u636E\u8981\u6C42\u5BF9\u6587\u7AE0\u5206\u6790\u7ED3\
            \u679C JSON \u5B57\u7B26\u4E32\u53CA\u5176\u7FFB\u8BD1\u7ED3\u679C\u8FDB\
            \u884C\u68C0\u67E5\uFF0C\u6309\u8981\u6C42\u8F93\u51FA\u7FFB\u8BD1\u4E2D\
            \u5B58\u5728\u7684\u95EE\u9898\u3002\n\n<\u539F\u59CB\u6587\u7AE0\u7684\
            \ Markdown \u683C\u5F0F>\n```markdown\n{{#1719357159255.markdown#}}\n\
            ```\n\n<\u6587\u7AE0\u5206\u6790\u7ED3\u679C JSON \u5B57\u7B26\u4E32>\n\
            ```json\n{{#1719357159255.analysisResult#}}\n```\n<\u76F4\u63A5\u7FFB\u8BD1\
            \u7ED3\u679C>\n{{#1719665970105.text#}}\n\n<\u539F\u59CB\u8BED\u8A00>\n\
            {{#1719357159255.languageName#}}"
        selected: false
        title: "\u6307\u51FA\u76F4\u63A5\u7FFB\u8BD1\u7684\u95EE\u9898"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 126
      id: '1719666182344'
      position:
        x: 1955.4285714285716
        y: 243.35714285714283
      positionAbsolute:
        x: 1955.4285714285716
        y: 243.35714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u610F\u8BD1 - \u7B2C\u4E8C\u6B21\u7FFB\u8BD1"
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: azure_openai
        prompt_template:
        - id: 0017c1f5-6a65-463f-98bd-b384f55e1362
          role: system
          text: "(C) \u4E0A\u4E0B\u6587\uFF1A\u4E3A\u4EFB\u52A1\u63D0\u4F9B\u80CC\u666F\
            \u4FE1\u606F\n\u5927\u8BED\u8A00\u6A21\u578B\u9700\u8981\u5BF9\u4E00\u6BB5\
            \u521D\u6B21\u7FFB\u8BD1\u7684\u6587\u672C\u8FDB\u884C\u91CD\u65B0\u7FFB\
            \u8BD1\u548C\u610F\u8BD1\u3002\u539F\u6587\u6D89\u53CA\u5404\u79CD\u4E0E\
            \u6280\u672F\u76F8\u5173\u7684\u4E3B\u9898\uFF0C\u5982AI\u4EA7\u54C1\u3001\
            \u8F6F\u4EF6\u5F00\u53D1\u3001\u7528\u6237\u4F53\u9A8C\u8BBE\u8BA1\u3001\
            \u5546\u4E1A\u79D1\u6280\u7B49\u3002\u76EE\u6807\u662F\u786E\u4FDD\u91CD\
            \u65B0\u7FFB\u8BD1\u540E\u7684\u6587\u672C\u65E2\u5FE0\u4E8E\u539F\u610F\
            \uFF0C\u53C8\u66F4\u52A0\u7B26\u5408\u76EE\u6807\u8BED\u8A00\uFF08\u82F1\
            \u8BED\u6216\u4E2D\u6587\uFF09\u7684\u8868\u8FBE\u4E60\u60EF\uFF0C\u6613\
            \u4E8E\u7406\u89E3\u3002\u539F\u6587\u4E3AJSON\u683C\u5F0F\uFF0C\u521D\
            \u6B21\u7FFB\u8BD1\u7684\u6587\u672C\u4E3AJSON\u683C\u5F0F\uFF0C\u5B58\
            \u5728\u7684\u95EE\u9898\u4E3AMarkdown\u683C\u5F0F\u3002\n\n(O) \u76EE\
            \u6807\uFF1A\u660E\u786E\u4F60\u8981\u6C42\u5927\u8BED\u8A00\u6A21\u578B\
            \u5B8C\u6210\u7684\u4EFB\u52A1\n\u6A21\u578B\u9700\u8981\u57FA\u4E8E\u521D\
            \u6B21\u7FFB\u8BD1\u7684\u6210\u679C\u53CA\u968F\u540E\u8BC6\u522B\u7684\
            \u5404\u9879\u95EE\u9898\uFF0C\u8FDB\u884C\u4E00\u6B21\u91CD\u65B0\u7FFB\
            \u8BD1\u548C\u610F\u8BD1\uFF0C\u65E8\u5728\u66F4\u51C6\u786E\u5730\u4F20\
            \u8FBE\u539F\u6587\u7684\u610F\u4E49\u3002\u786E\u4FDD\u5185\u5BB9\u65E2\
            \u5FE0\u4E8E\u539F\u610F\uFF0C\u53C8\u66F4\u52A0\u8D34\u8FD1\u76EE\u6807\
            \u8BED\u8A00\u7684\u8868\u8FBE\u65B9\u5F0F\uFF0C\u66F4\u5BB9\u6613\u88AB\
            \u7406\u89E3\u3002\u7FFB\u8BD1\u540E\u8FD4\u56DE\u7684JSON\u5B57\u7B26\
            \u4E32\u5E94\u8BE5\u548C\u539F\u59CB\u8F93\u5165\u7684JSON\u5B57\u7B26\
            \u4E32\u6709\u76F8\u540C\u7684\u7ED3\u6784\uFF0C\u4FDD\u7559\u76F8\u540C\
            \u7684key\u3002\n\n(S) \u98CE\u683C\uFF1A\u660E\u786E\u4F60\u671F\u671B\
            \u7684\u5199\u4F5C\u98CE\u683C\n\u5E0C\u671B\u5927\u8BED\u8A00\u6A21\u578B\
            \u4EE5\u4E13\u4E1A\u4E14\u5B9E\u7528\u7684\u98CE\u683C\u8FDB\u884C\u610F\
            \u8BD1\uFF0C\u786E\u4FDD\u7528\u8BCD\u51C6\u786E\uFF0C\u63CF\u8FF0\u6E05\
            \u6670\uFF0C\u7B26\u5408\u5F00\u53D1\u8005\u3001\u4EA7\u54C1\u7ECF\u7406\
            \u7B49\u6280\u672F\u4EBA\u5458\u7684\u9700\u6C42\u3002\u7FFB\u8BD1\u5E94\
            \u4FDD\u6301\u539F\u6587\u7684\u4E13\u4E1A\u6027\u548C\u6280\u672F\u6DF1\
            \u5EA6\uFF0C\u540C\u65F6\u63D0\u9AD8\u53EF\u8BFB\u6027\u548C\u6D41\u7545\
            \u5EA6\u3002\n\n(T) \u8BED\u6C14\uFF1A\u8BBE\u7F6E\u56DE\u5E94\u7684\u60C5\
            \u611F\u8C03\n\u8BED\u6C14\u5E94\u4FDD\u6301\u6B63\u5F0F\u4E14\u4E13\u4E1A\
            \uFF0C\u786E\u4FDD\u7FFB\u8BD1\u5177\u6709\u6743\u5A01\u6027\u548C\u5B9E\
            \u7528\u6027\u3002\u540C\u65F6\uFF0C\u7FFB\u8BD1\u5E94\u4F53\u73B0\u51FA\
            \u5BF9\u76EE\u6807\u8BFB\u8005\u7684\u8003\u8651\uFF0C\u4F7F\u7528\u66F4\
            \u81EA\u7136\u3001\u66F4\u7B26\u5408\u76EE\u6807\u8BED\u8A00\u4E60\u60EF\
            \u7684\u8868\u8FBE\u65B9\u5F0F\u3002\n\n(A) \u53D7\u4F17\uFF1A\u8BC6\u522B\
            \u76EE\u6807\u53D7\u4F17\n\u76EE\u6807\u53D7\u4F17\u4E3A\u5F00\u53D1\u8005\
            \u3001\u4EA7\u54C1\u7ECF\u7406\u7B49\u6280\u672F\u4EBA\u5458\uFF0C\u4ED6\
            \u4EEC\u9700\u8981\u7FFB\u8BD1\u7CBE\u786E\u4E14\u6613\u4E8E\u7406\u89E3\
            \u7684\u5185\u5BB9\u3002\u7FFB\u8BD1\u5E94\u8003\u8651\u8FD9\u4E9B\u8BFB\
            \u8005\u7684\u4E13\u4E1A\u80CC\u666F\uFF0C\u5728\u4FDD\u6301\u6280\u672F\
            \u51C6\u786E\u6027\u7684\u540C\u65F6\uFF0C\u786E\u4FDD\u5185\u5BB9\u6613\
            \u4E8E\u7406\u89E3\u548C\u5E94\u7528\u3002\n\n(R) \u54CD\u5E94\uFF1A\u89C4\
            \u5B9A\u8F93\u51FA\u7684\u683C\u5F0F\n\u8F93\u51FA\u683C\u5F0F\u5E94\u4FDD\
            \u6301\u539F\u6709JSON\u683C\u5F0F\u4E0D\u53D8\uFF0C\u786E\u4FDD\u91CD\
            \u65B0\u7FFB\u8BD1\u540E\u7684\u6587\u672C\u7ED3\u6784\u4E0E\u521D\u6B21\
            \u7FFB\u8BD1\u4E00\u81F4\u3002\u5982\u679C\u76EE\u6807\u8BED\u8A00\u662F\
            \u4E2D\u6587\uFF0C\u5728\u4E2D\u82F1\u6587\u3001\u6570\u5B57\u95F4\u52A0\
            \u7A7A\u683C\u4EE5\u63D0\u9AD8\u53EF\u8BFB\u6027\u3002\n\n<\u8F93\u5165\
            >\n\u8F93\u5165\u5305\u542B\u4EE5\u4E0B\u51E0\u4E2A\u90E8\u5206\uFF1A\n\
            1. \u539F\u59CB\u8BED\u8A00\uFF1A\u6307\u660E\u539F\u6587\u662F\u4E2D\u6587\
            \u8FD8\u662F\u82F1\u6587\n2. \u539F\u59CB\u6587\u7AE0\u5206\u6790\u7ED3\
            \u679CJSON\u5B57\u7B26\u4E32\uFF1A\u5305\u542B\u4EE5\u4E0B\u5B57\u6BB5\
            \n   - oneSentenceSummary: \u6587\u7AE0\u7684\u4E00\u53E5\u8BDD\u6458\u8981\
            \n   - summary: \u6587\u7AE0\u6458\u8981\n   - tags: \u6587\u7AE0\u6807\
            \u7B7E\uFF08\u5217\u8868\uFF09\n   - mainPoints: \u6587\u7AE0\u7684\u4E3B\
            \u8981\u89C2\u70B9\uFF08\u5217\u8868\uFF09\uFF0C\u6BCF\u4E2A\u89C2\u70B9\
            \u5305\u542Bpoint\u548Cexplanation\u5B57\u6BB5\n   - keyQuotes: \u6587\
            \u7AE0\u4E2D\u7684\u5173\u952E\u5F15\u7528\uFF08\u5217\u8868\uFF09\n3.\
            \ \u76F4\u63A5\u7FFB\u8BD1\u7ED3\u679C\uFF1A\u4E0E\u539F\u59CB\u6587\u7AE0\
            \u5206\u6790\u7ED3\u679C\u5177\u6709\u76F8\u540C\u7ED3\u6784\u7684JSON\u5B57\
            \u7B26\u4E32\n4. \u7FFB\u8BD1\u4E2D\u5B58\u5728\u7684\u95EE\u9898\uFF1A\
            Markdown\u683C\u5F0F\u7684\u6587\u672C\uFF0C\u5217\u51FA\u4E86\u76F4\u63A5\
            \u7FFB\u8BD1\u4E2D\u7684\u5177\u4F53\u95EE\u9898\n\n<\u8F93\u51FA>\n\u8F93\
            \u51FA\u5E94\u4E3A\u4E00\u4E2AJSON\u5B57\u7B26\u4E32\uFF0C\u5177\u6709\
            \u4E0E\u8F93\u5165\u76F8\u540C\u7684\u7ED3\u6784\u548C\u5B57\u6BB5\u3002\
            \u5177\u4F53\u8981\u6C42\u5982\u4E0B\uFF1A\n1. \u4FDD\u6301\u539F\u6709\
            \u7684JSON\u7ED3\u6784\u548Ckey\u4E0D\u53D8\n2. \u5BF9\u6BCF\u4E2A\u5B57\
            \u6BB5\u7684\u5185\u5BB9\u8FDB\u884C\u4F18\u5316\u548C\u610F\u8BD1\uFF0C\
            \u786E\u4FDD\uFF1A\n   - \u51C6\u786E\u4F20\u8FBE\u539F\u6587\u7684\u6838\
            \u5FC3\u610F\u601D\u548C\u5173\u952E\u4FE1\u606F\n   - \u7B26\u5408\u76EE\
            \u6807\u8BED\u8A00\u7684\u8868\u8FBE\u4E60\u60EF\u548C\u8BED\u8A00\u7279\
            \u70B9\n   - \u9002\u5F53\u4F7F\u7528\u76EE\u6807\u8BED\u8A00\u4E2D\u7684\
            \u4E60\u8BED\u3001\u4FD7\u8BED\u6216\u4E13\u4E1A\u672F\u8BED\n   - \u4FDD\
            \u6301\u4E13\u4E1A\u672F\u8BED\u7684\u4E00\u81F4\u6027\u548C\u51C6\u786E\
            \u6027\n   - \u63D0\u9AD8\u6574\u4F53\u53EF\u8BFB\u6027\u548C\u6D41\u7545\
            \u5EA6\n3. \u5982\u679C\u76EE\u6807\u8BED\u8A00\u662F\u4E2D\u6587\uFF0C\
            \u5728\u4E2D\u82F1\u6587\u3001\u6570\u5B57\u95F4\u52A0\u7A7A\u683C\n4.\
            \ \u5BF9\u4E8E\u96BE\u4EE5\u76F4\u8BD1\u7684\u6982\u5FF5\uFF0C\u53EF\u91C7\
            \u7528\u610F\u8BD1\u6216\u589E\u52A0\u7B80\u77ED\u89E3\u91CA\uFF0C\u4F46\
            \u4E0D\u5E94\u663E\u8457\u589E\u52A0\u6587\u672C\u957F\u5EA6\n\n\u8BF7\
            \u6839\u636E\u4EE5\u4E0A\u6307\u5BFC\u539F\u5219\uFF0C\u5BF9\u63D0\u4F9B\
            \u7684\u8F93\u5165\u8FDB\u884C\u7EFC\u5408\u5206\u6790\u5904\u7406\u548C\
            \u610F\u8BD1\uFF0C\u8F93\u51FA\u6539\u8FDB\u540E\u7684\u7FFB\u8BD1\uFF0C\
            \u4EE5JSON\u5B57\u7B26\u4E32\u683C\u5F0F\u8FD4\u56DE\u3002\u786E\u4FDD\
            \u6539\u8FDB\u540E\u7684\u7FFB\u8BD1\u7B26\u5408\u4E0A\u8FF0\u6240\u6709\
            \u8981\u6C42\uFF0C\u7279\u522B\u662F\u5728\u51C6\u786E\u4F20\u8FBE\u539F\
            \u610F\u7684\u540C\u65F6\uFF0C\u5145\u5206\u9002\u5E94\u76EE\u6807\u8BED\
            \u8A00\u7684\u8868\u8FBE\u4E60\u60EF\u548C\u9605\u8BFB\u504F\u597D\u3002"
        - id: b80ef907-73bb-46cf-9c02-57e773e7eab5
          role: user
          text: "\u8BF7\u6839\u636E\u8981\u6C42\u8BC6\u522B\u5BF9\u4EE5\u4E0B\u6587\
            \u7AE0\u5206\u6790\u7ED3\u679C JSON \u5B57\u7B26\u4E32\u3001\u76F4\u63A5\
            \u7FFB\u8BD1\u7ED3\u679C\u3001\u7FFB\u8BD1\u95EE\u9898\u8FDB\u884C\u7EFC\
            \u5408\u5206\u6790\u5904\u7406\uFF0C\u6309\u8981\u6C42\u8F93\u51FA\u6539\
            \u8FDB\u540E\u7684\u7FFB\u8BD1\uFF0C\u4EE5 JSON \u5B57\u7B26\u4E32\u8F93\
            \u51FA\u3002\n\n<\u539F\u59CB\u8BED\u8A00>\n{{#1719357159255.languageName#}}\n\
            \n<\u539F\u59CB\u6587\u7AE0\u5206\u6790\u7ED3\u679C JSON \u5B57\u7B26\u4E32\
            >\n```json\n{{#1719357159255.analysisResult#}}\n```\n<\u76F4\u63A5\u7FFB\
            \u8BD1\u7ED3\u679C>\n```json\n{{#1719665970105.text#}}\n```\n\n<\u7FFB\
            \u8BD1\u4E2D\u5B58\u5728\u7684\u95EE\u9898>\n{{#1719666182344.text#}}"
        selected: false
        title: "\u610F\u8BD1 - \u7B2C\u4E8C\u6B21\u7FFB\u8BD1"
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 126
      id: '1719666267591'
      position:
        x: 2259.4285714285716
        y: 243.35714285714283
      positionAbsolute:
        x: 2259.4285714285716
        y: 243.35714285714283
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: "\u8FD4\u56DE\u7FFB\u8BD1\u7ED3\u679C"
        outputs:
        - value_selector:
          - '1719666267591'
          - text
          variable: analysisResult
        selected: false
        title: "\u7ED3\u675F 2"
        type: end
      height: 118
      id: '1719666292377'
      position:
        x: 2563.4285714285716
        y: 243.35714285714283
      positionAbsolute:
        x: 2563.4285714285716
        y: 243.35714285714283
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -1307.4500000000003
      y: 127.35
      zoom: 0.7000000000000001
